:root {
  --idhs-dark-blue: #05236a;
  --idhs-base-blue: #0c3189;
  --idhs-dark-purple: #1d3fa8;
  --idhs-base-purple: #3262d4;
  --idhs-light-purple: #769bf3;
  --hc-green: #00891B;
  --hc-red: #D13F00;
  --idhs-dark-green: #005e59;
  --idhs-base-green: #048e85;
  --idhs-light-green: #42c9b0;
  --idhs-highlight-green: #dafff8;
  --idhs-base-yellow: #e6a001;
  --idhs-highlight-yellow: #ffe8ce;
  --idhs-base-red: #e21121;
  --idhs-light-red: #ee8d8f;
  --idhs-highlight-red: #ffd7d7;
  --light-grey: #f7f5f4;
  --gray-darkest: #121111;
  --black: #000000;
  --white: #ffffff;
}

html, body {
  background: var(--light-grey);
  color: var(--gray-darkest);
}

.template--index {
  background: var(--white);
}

.demo-banner {
  background-color: var(--idhs-base-red);
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .demo-banner {
    font-size: 12px;
  }
}


.page-wrapper {
  padding-bottom: 17.8rem;
}

.slab--hero {
  position: relative;
  background-image: url('/assets/images/mother-reading-to-child.svg');
  background-repeat: no-repeat;
  background-position: bottom right 5rem;
  background-size: 25rem;
}

@media only screen and (min-width: 600px) {
  .slab--hero {
    background-image: none;
  }
}

.toolbar__wrapper {
  background-color: var(--idhs-base-blue);
  height: auto;
}

.notice--warning {
  background-color: var(--idhs-highlight-yellow);
  color: var(--gray-darkest);
  border-color: var(--idhs-base-yellow);
}

.notice--warning a {
  color: var(--idhs-base-blue);
}

.footer-blue {
  background-color: var(--idhs-base-blue);
  color: var(--white);
}

.main-header a:not([role="menuitem"]):hover,
.main-footer a:hover {
  color: var(--idhs-highlight-green);
}

main.slab {
  padding-top: 0;
  padding-bottom: 0;
}

.slab--light-purple {
  /* idhs-light-purple + opacity */
  background-color: rgba(118, 155, 243, 0.35);
}

.button {
  margin-left: 0;
}

.button:first-of-type {
  margin-right: 25px;
}

.button.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 60%;
}

/* Links and buttons */
a, .button--link {
  color: var(--idhs-base-blue);
}

.slab a:not(.button):not(.reveal__link):not(.text--red),
.slab a:not(.button):not(.reveal__link):not(.text--red):focus,
.button--link, .button--link:focus {
  color: var(--idhs-base-blue);
}

.button--primary {
  background-color: var(--idhs-base-blue);
}

.button--wide {
  width: 100%;
  display: flex;
  justify-content: center;
    > i {
      line-height: inherit;
      font-size: 1.3em;
      margin: auto 8px auto 0;
    }
}

.button--wide.fake-button {
  cursor: default;

  > i.icon-check_circle {
    color: #048E85;
  }
}

.button--wide.fake-button:hover {
  background-color: #FFFFFF;
}

.button--wide.fake-button:active {
  transform: none;
  transition: none;
  top: 0;
  box-shadow: 0 2px 0 rgba(0,0,0, .5);
}


.button--wide.hidden {
  display: none;
}


/* Utilities */
.padding-top-0 {
  padding-top: 0;
}

.padding-top-10 {
  padding-top: 1rem;
}

.color--idhs-base-blue {
  color: var(--idhs-base-blue);
}

.img-center {
  display: flex;
  margin: 0;
}

img.img-center {
  width: 462px;
}

.img-left {
  display: block;
  margin-right: 0;
  margin-bottom: 66px;
}

/* Same as .slab--grey, named to be used more generically */
.background-grey {
  background-color: var(--light-grey);
}

/* Index */
.index-child-care-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.index-child-care-image-container img:first-child {
  margin-bottom: 41px;
  margin-left: 14px;
  margin-right: 13px;
}

.eligibility-table {
  width: 100%;
  border-collapse: collapse;
}

.eligibility-table th {
  font-weight: normal;
  font-size: 1.6rem;
  color: var(--idhs-dark-blue);
  padding-bottom: 1rem;
}

.family-income-table {
  width: 80%;
  font-weight: normal;
  border: 1px solid black;
  border-collapse: collapse;
}

.family-income-table thead {
  border: 1px solid black;
}

.family-income-table th {
  font-weight: normal;
  align-content: center;
  min-width: 13rem;
  border: 1px solid black
}

.family-income-table td {
  border: 1px solid black

}

.family-income-table tr {
  text-align: center;
  border: 1px solid black

}

.faq-situation-table {
  font-weight: normal;
  border: 1px solid black;
  border-collapse: collapse;
}

.faq-situation-table thead {
  border: 1px solid black;
}

.faq-situation-table th {
  font-weight: normal;
  min-width: 13rem;
  border: 1px solid black;
  background-color: lightgrey;
  text-align: left;
  padding: 1rem;
}

.faq-situation-table td {
  border: 1px solid black;
  padding: 1rem;
}

.faq-situation-table tr {
  border: 1px solid black
}

.paragraph-large {
  font-size: 2.5rem;
  margin-bottom: 25px;
  line-height: 3.5rem;
}

p.normal {
  font-weight: normal;
  font-size: 2.5rem;
}

.eligibility-table th.bold {
  font-weight: bold;
}

.eligibility-table th:first-child,
.eligibility-table td:first-child {
  text-align: left;
}

.eligibility-table th:last-child,
.eligibility-table td:last-child {
  text-align: right;
}

.eligibility-table td {
  padding: 1rem;
}

.eligibility-table tbody tr:nth-child(odd) {
  background-color: var(--white);
}

.index-icon-list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.index-icon-list p {
  margin-bottom: 0;
}

/* Inherited from Starter App */
/* ========================== */
.reveal svg {
  align-self: center;
  display: flex;
  margin-right: 10px;
}

.align-with-boxed-content {
  padding: 2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}

.legal-stuff-header {
  padding: 2.5rem 0 -2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}

.legal-stuff-window {
  border: 2px solid black;
  height: 35rem;
  overflow-y: scroll;
  padding-right: calc(1.5rem + 12px);
}

.textarea-readonly::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textarea-readonly::-webkit-scrollbar:vertical {
  width: 12px;
}

.textarea-readonly::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.textarea-readonly::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.notice-container {
  max-width: 55rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.notice-blue {
  background: #E9F6FF;
  border: 1px solid #003865;
  border-radius: 3px;
  position: relative;
  padding: 20px 15px 0 15px;
}

.notice-grey {
  background: #F7F5F4;
  border: 1px solid #CFC5BF;
  border-radius: 3px;
  position: relative;
  padding: 20px 15px 0 15px;
}

.steps-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.steps-box svg {
  flex-shrink: 0;
}

.vertical-steps .notice-blue {
  margin-bottom: -10px;
  margin-top: -10px;
}

.notice-blue .width-one-sixth {
  text-align: center;
}

.vertical-steps:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 50%;
  background-color: #003964;
}

.email-confirmation-box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.email-confirmation-box strong {
  color: #00891B;
}

.success-confirmation-box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.zero-flex-shrink svg {
  flex-shrink: 0;
}

.move-box-left {
  margin-left: -5px;
}

.help--header-spacing {
  margin-top: -35px;
}

.spacing-left-0 {
  margin-left: 0;
}

.spacing-right-25 {
  margin-right: 25px;
}

.icon-person {
  font-size: 3.2rem;
}

.phone-input {
  max-width: 25em;
}

.time-input {
  display: flex;
  width: 100%;
  font-size: 1.9rem;
  font-weight: 700;
  height: 6.4rem;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #121111;
  border-radius: 0;
  background-color: white
}

.form-width--long-time {
  display: flex;
  align-items: center;
}

.flex-one {
  flex: 1;
}

#ccapStartDate .text--help {
  display: none;
}

input[name$="Address2"] {
  max-width: 6em;
}

.grey-darkest {
  color: var(--gray-darkest)
}

.postfix-width-third-percent {
  width: 30%;
  display: table-cell;
  font-weight: 700;
  padding: 0 2.5rem 0 1rem;
  vertical-align: middle;
  background-color: #F7F5F4;
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.15)
}

.demo-banner a[href="#"] {
  display: none;
}

/* Sub item styling */
ul.list--bulleted ul.list--bulleted.list--sublist li {
  list-style-type: circle;
}

.notice--gray {
  background-color: #F7F5F4;
  border-color: #CFC5BF;
}

.notice--error {
  background-color: #FCE3D9;
  border-color: #D13F00;
}

.notice--gray p + p {
  margin-top: 2.5rem;
}

.list--material-checkmark {
  color: var(--hc-green);
}

.list--material-checkmark span {
  color: var(--black);
}

.list--material-checkmark li {
  margin-left: 0;
}

.list--material-checkmark li:before {
  background-image: none;
  font-family: 'Material Icons';
  content: "check_circle";
  top: 0;
  color: currentColor;
}

.list--material-get-app li:before {
  background-image: none;
  font-family: 'Material Icons';
  content: "get_app";
  top: 1rem;
  color: currentColor;
  font-size: 3rem;
}

.list--checkmark li {
  padding-left: 4rem;
}

.list--material-download li:before {
  background-image: none;
  font-family: 'Material Icons';
  content: "file_download";
  top: 0rem;
  color: currentColor;
  font-size: 3rem;
}

.list--material-phone-in-talk li:before {
  background-image: none;
  font-family: 'Material Icons';
  content: "phone_in_talk";
  top: 0rem;
  color: currentColor;
  font-size: 3rem;
}

.required-input {
  color: var(--hc-red);
}

.bottom-border {
  border-bottom: #AAAAAA;
  border-bottom-style: solid;
  padding-top: 30px;
}

.form-question-stack {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.form-question-vertical-align {
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.form-question-stack .select {
  width: 100%;
}

.form-question-stack:nth-child(2) {
  flex: 1 1 0px;
}

@media only screen and (max-width: 500px) {
  .form-question-stack {
    flex: 1 1 50px;
  }

  .form-question-stack .select__element {
    padding: 0 4rem 0 1.5rem;
  }
}

.notice--toolbar {
  line-height: 2.5rem;
  font-size: 1.9rem;
  margin: 0 -1.5rem;
  border: none;
  border-bottom: 2px solid var(--hc-red);
}
.confirmation-example {
  font-size: medium;
  word-wrap: break-word;
}
@media only screen and (min-width: 601px) {
  .notice--toolbar {
    margin-left: -3.5rem;
    margin-right: -3.5rem;
  }
  
  .hide-on-desktop {
    display: none;
  }
}

.providerResponse {
  width: 100%;
  height: 100%;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px #008060 solid;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  line-height: 25px;
  word-wrap: break-word;
  margin-bottom: 3rem;
}

.providerResponse {
  .category {
    margin-bottom: 0px;
    margin-top: 2rem;
    font-weight: 700;
  }

  .response {
    margin-bottom: 0px;
    font-weight: 400;
  }

  .list--bulleted {
    margin-top: 0px;
  }

  .list--bulleted li {
    margin-bottom: 0px;
  }
}

#confirmation-code-help-text {
  font-size: 1.6rem;
  color: #5F5854;
}

div.move-40-up {
  margin-top: -4.0rem;
}

/* THIS NEEDS TO BE HERE, IF IT'S REMOVED IT WILL BREAK JAVASCRIPT FOR SAME AS HOME ADDRESS FUNCTIONALITY */
.hidden {
  display: none !important;
}