<th:block
  th:replace="~{fragments/inputs/screenWithOneInputAndSkip ::
  screenWithOneInputAndSkip(
    title=#{'provider-response-ccap-registration.title'},
    iconFragment=~{fragments/gcc-icons :: registeredProvider},
    header=#{provider-response-ccap-registration.header},
    required='true',
    subtext=#{provider-response-ccap-registration.subtext},
    skipLocation='ccap-registration-unregistered',
    skipText=#{provider-response-ccap-registration.no-provider-number},
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
      <th:block
              th:replace="~{fragments/inputs/text :: text(inputName='providerResponseProviderNumber', ariaLabel='header', required='true')}"/>
  </th:block>
</th:block>