<th:block
  th:replace="~{fragments/inputs/screenWithOneInputAndSkip ::
  screenWithOneInputAndSkip(
    title=#{'provider-response-ccap-registration.title'},
    iconFragment=~{fragments/gcc-icons :: registeredProvider},
    header=#{provider-response-ccap-registration.header},
    required='true',
    subtext=#{provider-response-ccap-registration.subtext},
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">

  <th:block th:ref="inputContent">
      <div class="spacing-below-60 move-40-up">
          <th:block th:replace="~{'fragments/honeycrisp/reveal' :: reveal(
            controlId='r1',
            linkLabel=~{::revealLabel1},
            content=~{::revealContent1},
            forceShowContent='true')}">
              <th:block th:ref="revealLabel1">
                  <th:span th:text="#{provider-response-ccap-registration.accordion.title}"></th:span>
              </th:block>
              <th:block th:ref="revealContent1">
                  <p th:text="#{provider-response-ccap-registration.accordion.intro}"></p>
                  <ul class="list--bulleted">
                      <li th:utext="#{provider-response-ccap-registration.accordion.document1}"></li>
                      <li th:utext="#{provider-response-ccap-registration.accordion.document2}"></li>
                      <li th:utext="#{provider-response-ccap-registration.accordion.document3}"></li>
                      <li th:utext="#{provider-response-ccap-registration.accordion.document4}"></li>
                  </ul>
              </th:block>
          </th:block>
      </div>
      <th:block
              th:replace="~{fragments/inputs/overrides/number :: number(inputName='providerResponseProviderNumber', ariaLabel='header', required='true')}"/>
  </th:block>
</th:block>