<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{provider-response-confirmation-code.title},
    header=#{provider-response-confirmation-code.header},
    subtext=#{provider-response-confirmation-code.subtext},
    iconFragment=~{fragments/gcc-icons :: application-mail},
    buttonLabel=#{general.button.continue},
    required='true',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/text ::
      text(inputName='providerResponseFamilyShortCode',
      ariaLabel='header')}"/>
  </th:block>
</th:block>

<script th:inline="javascript">
  $(document).ready(function () {
    const providerFamilyCode = document.getElementById("providerResponseFamilyShortCode");

    if (!providerFamilyCode.textContent) {
      var confirmationCode = [[${session.confirmationCode}]];
      if (confirmationCode) {
        providerFamilyCode.value = confirmationCode;
        providerFamilyCode.readOnly = true;
      }
    }
  });
</script>