<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{provider-response-confirm-provider.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: care}"></th:block>
                <th:block
                        th:with="selectedProviderIsIndividual=${true},
                        currentProvider=${T(org.ilgcc.app.utils.ProviderSubmissionUtilities).getCurrentProvider(submission)}">
                    <th:block
                            th:if="${currentProvider.getOrDefault('providerType', '').equals('Individual')}">
                        <th:block
                                th:replace="~{fragments/cardHeader :: cardHeader(header=${#messages.msg('provider-response-confirm-provider.individual.header', currentProvider.get('displayName'))}, subtext=#{provider-response-confirm-provider.individual.subtext})}"/>
                    </th:block>
                    <th:block
                            th:if="${currentProvider.getOrDefault('providerType', '').equals('Care Program')}">
                        <th:block
                                th:replace="~{fragments/cardHeader :: cardHeader(header=${#messages.msg('provider-response-confirm-provider.program.header', currentProvider.get('displayName'))})}"/>
                    </th:block>
                    <th:block
                            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                        <th:block
                                th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                            <th:block th:ref="formContent">
                                <div class="form-card__content">
                                </div>
                                <div class="form-card__footer">
                                    <th:block
                                            th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
                                    <div class="spacing-above-15">
                                        <a id="selected-wrong-provider"
                                           th:href="'/flow/' + ${flow} + '/multiple-providers'">
                                            <span th:text="${#messages.msg('provider-response-confirm-provider.program.cta', currentProvider.get('displayName'))}"></span>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>