<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{parent-info-review.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: documents-search}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{parent-info-review.header})}"/>
                <th:block
                        th:replace="~{fragments/form :: form(action=|/flow/${flow}/${screen}/submit|, content=~{::info})}">
                    <th:block th:ref="info">
                        <div class="form-card__content">
                            <p class="text--left"><strong
                                    th:text="#{provider-response-info-review.basic-info}"></strong>
                            </p>
                            <ol class="list--bulleted">
                                <li id="business-name"
                                    th:text="${inputData.get('providerResponseBusinessName')}"></li>
                                <li id="full-name"
                                    th:text="|${inputData.get('providerResponseFirstName')} ${inputData.get('providerResponseLastName')}|"></li>
                            </ol>
                            <a id="edit-parent-info-basic" th:href="|/flow/${flow}/provider-info|"
                               th:text="#{provider-response-info-review.basic-info-edit}"></a>
                            <hr class="spacing-below-15 spacing-above-15">

                            <p class="text--left"><strong
                                    th:text="#{provider-response-info-review.child-care-service-address}"></strong>
                            </p>
                            <th:block
                                    th:with="serviceAddress = ${T(org.ilgcc.app.utils.AddressUtilities).getAddress(inputData, 'providerResponseService')}">
                                <div id="provider-service-address-1"
                                     th:text="${serviceAddress.get('address1').toString()}"></div>
                                <div id="provider-service-address-2"
                                     th:unless="${serviceAddress.get('address2').toString().isBlank()}"
                                     th:text="${serviceAddress.get('address2')}"></div>
                                <div id="provider-service-city-state"
                                     th:text="|${serviceAddress.get('city')}, ${serviceAddress.get('state')}|"></div>
                                <div id="provider-service-zipcode"
                                     th:text="${serviceAddress.get('zipCode')}"></div>
                            </th:block>
                            <a id="edit-home-address" th:href="|/flow/${flow}/service-address|"
                               th:text="#{provider-response-info-review.child-care-service-address-edit}"></a>
                            <hr class="spacing-below-15 spacing-above-15">

                            <p class="text--left"><strong
                                    th:text="#{provider-response-info-review.mailing-address}"></strong>
                            </p>
                            <th:block
                                    th:with="mailingAddress = ${T(org.ilgcc.app.utils.AddressUtilities).getAddress(inputData, 'providerMailing')}">
                                <div id="provider-mailing-address-1"
                                     th:text="${mailingAddress.get('address1').toString()}"></div>
                                <div id="provider-mailing-address-2"
                                     th:unless="${mailingAddress.get('address2').toString().isBlank()}"
                                     th:text="${mailingAddress.get('address2')}"></div>
                                <div id="provider-mailing-city-state"
                                     th:text="|${mailingAddress.get('city')}, ${mailingAddress.get('state')}|"></div>
                                <div id="provider-mailing-zipcode"
                                     th:text="${mailingAddress.get('zipCode')}"></div>
                            </th:block>
                            <br>
                            <a id="edit-provider-mailing-address"
                               th:href="|/flow/${flow}/mailing-address|"
                               th:text="#{provider-response-info-review.mailing-address-edit}"></a>
                            <hr class="spacing-below-15 spacing-above-15">
                            <p class="text--left"><strong
                                    th:text="#{parent-info-review.contact.info}"></strong></p>
                            <ol class="list--bulleted">
                                <li id="email"
                                    th:if="${!#strings.isEmpty(inputData.get('providerResponseContactEmail'))}"
                                    th:text="${inputData.get('providerResponseContactEmail')}"></li>
                                <li id="phone"
                                    th:if="${!#strings.isEmpty(inputData.get('providerResponseContactPhoneNumber'))}"
                                    th:text="${inputData.get('providerResponseContactPhoneNumber')}"></li>
                            </ol>
                            <div th:if="${#strings.isEmpty(inputData['providerResponseContactEmail']) and #strings.isEmpty(inputData['providerResponseContactPhoneNumber'])}">
                                <p th:text="#{general.none-added}"></p>
                            </div>
                            <a id="edit-parent-contact-info-basic"
                               th:href="|/flow/${flow}/contact-info|"
                               th:text="#{parent-info-review.contact.info.link}"></a>
                        </div>
                        <div class="form-card__footer">
                            <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                      text=#{general.button.continue})}" />
                        </div>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
