<th:block
        th:replace="~{fragments/inputs/overrides/screenWithOneInput ::
  screenWithOneInput(
    title=#{provider-response-multiple-providers.title},
    required=true,
    iconFragment=~{fragments/gcc-icons :: care},
    header=#{provider-response-multiple-providers.header},
    subtext=#{provider-response-multiple-providers.subtext},
    headerClasses='spacing-below-0',
    inputName='providerType',
    formAction=${formAction},
    buttonLabel=#{general.inputs.continue},
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
        <th:block th:replace="~{fragments/inputs/radioFieldset ::
                  radioFieldset(inputName='currentProviderUuid',
                  ariaLabel='header',
                  content=~{::content})}">
            <th:block th:ref="content">
                <th:block
                        th:each="provider: ${submission.getInputData.get('providersData')}">
                    <th:block
                            th:replace="~{fragments/inputs/radio :: radio(inputName='currentProviderUuid', value=${provider.get('uuid')},
                        label=${provider.get('displayName')},
                        radioHelpText=${provider.get('location')}
                        )}"/>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
</th:block>