<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-signature.title},
    header=#{registration-signature.box.header},
    subtext=#{registration-signature.subtext},
    iconFragment=~{fragments/gcc-icons :: signature},
    buttonLabel=#{submit-sign-name.submit-application},
    required='true',
    formAction=|/flow/${flow}/${screen}/submit|,
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/text ::
      text(inputName='providerSignedName',
       label=#{registration-signature.provider-signed-name.label},
      ariaLabel='header')}"/>
  </th:block>
</th:block>