<th:block
  th:replace="~{fragments/screens/screenWithYesAndNoButtons ::
  screenWithYesAndNoButtons(
    title=#{registration-household-members.title},
    header=#{registration-household-members.header},
    subtext=#{registration-household-members.subtext},
    formAction=${formAction},
    iconFragment=~{fragments/gcc-icons :: householdOtherAdults},
    inputName='providerHouseholdLiveWithOthers',
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
  </th:block>
</th:block>