<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-service-languages.title},
    header=#{registration-service-languages.header},
    required='true',
    buttonLabel=#{general.inputs.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <!-- Be sure to have `ariaLabel='header'` to label the input with the header -->
<th:block th:replace="~{fragments/inputs/checkboxFieldset ::
  checkboxFieldset(inputName='providerLanguagesOffered',
  noneOfTheAboveLabel=#{general.inputs.prefer-not-to-answer},
  ariaLabel='header',
  content=~{::providerLanguagesContent})}">
    <th:block th:ref="providerLanguagesContent">
      <!-- Copy the below input if you want to add more -->
      <th:block th:each="option : ${T(org.ilgcc.app.utils.enums.ProviderLanguagesOffered).values()}">
        <th:block th:replace="~{fragments/inputs/checkboxInSet ::
                          checkboxInSet(inputName=${inputName},
                          value=${option.getValue()},
                          label=${#strings.isEmpty(option.getLabel()) ? null : #messages.msg(option.getLabel())})}"/>
      </th:block>
      <div class="question-with-follow-up">
        <div class="question-with-follow-up__question">
          <th:block
              th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName=${inputName},value='other', label=#{registration-service-languages.provider-languages.other}, followUpId='#provider-languages-other-followUp')}"/>
        </div>
        <div class="question-with-follow-up__follow-up" id="provider-languages-other-followUp">
          <th:block th:replace="~{fragments/inputs/text ::
                            text(inputName='providerLanguagesOffered_other',
                            label=#{registration-service-languages.provider-languages.other-follow-up})}"/>
        </div>
      </div>
      <th:block th:replace="~{fragments/inputs/checkboxInSet ::
            checkboxInSet(inputName=${inputName}, value='NONE', label=${noneOfTheAboveLabel}, noneOfTheAbove=true)}"/>
    </th:block>
</th:block>
  </th:block>
</th:block>