<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-tax-id-ein.title},
    header=#{registration-tax-id-ein.header},
    subtext=#{registration-tax-id-ein.helper},
    iconFragment=~{fragments/gcc-icons :: licensed-provider},
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/overrides/number ::
      number(inputName='providerTaxIdEIN',
      ariaLabel='header')}"/>
  </th:block>
</th:block>