<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-licensed-care-location.title},
    header=#{registration-licensed-care-location.header},
    formAction=${formAction},
    required=true,
    iconFragment=~{fragments/gcc-icons :: householdMember},
    buttonLabel=#{general.button.continue},
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
        <th:block th:replace="~{fragments/inputs/radioFieldset ::
                      radioFieldset(inputName='providerLicensedCareLocation',
              ariaLabel='header',
              content=~{::careLocation})}">
            <th:block th:ref="careLocation">
                <th:block th:ref="careLocation">
                    <th:block
                            th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicensedCareLocation',value='childCareCenter', label=#{registration-licensed-care-location.care-center})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicensedCareLocation',value='childCareHome', label=#{registration-licensed-care-location.care-home})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicensedCareLocation',value='groupChildCareHome', label=#{registration-licensed-care-location.group-care-home})}"/>

                </th:block>
            </th:block>
        </th:block>
    </th:block>
</th:block>