    <th:block
            th:replace="~{fragments/screens/enter-address ::
      screen(
        title='provider-response.mailing-address.title',
        header='provider-response.mailing-address.header',
        iconFragment=~{fragments/gcc-icons :: mail},
        validate='true',
        sameAsPreviousInputLabel='provider-response.mailing-address.same-as-home-address',
        sameAsPreviousAddressInputName='providerMailingAddressSameAsServiceAddress',
        addressGroupInputPrefix='providerMailing'
      )}">
    </th:block>

<script th:inline="javascript">
  $(document).ready(function () {
    const $parentMailingAddressSameAsHomeCheckbox = $(
        '#providerMailingAddressSameAsServiceAddress-yes')

    //Mailing Address input fields
    const $providerMailingStreetAddress1 = $('#providerMailingStreetAddress1')
    const $providerMailingStreetAddress2 = $('#providerMailingStreetAddress2')
    const $providerMailingCity = $('#providerMailingCity')
    const $providerMailingState = $('#providerMailingState')
    const $providerMailingZipCode = $('#providerMailingZipCode')

    //Get Home Address
    let inputData = [[${inputData}]];

    function toggleMailingAddress() {
      const $mailingAddressFields = $('#address-fields');
      $mailingAddressFields.toggleClass('hidden');
      if ($mailingAddressFields.is(':hidden')) {
        copyMailingAddressFromHomeAddress(inputData);
      }
    }

    //On page load
    //We want to hide inputs if the
    if ($parentMailingAddressSameAsHomeCheckbox.is(':checked')) {
      toggleMailingAddress();
    }
    //On checkbox state change
    $parentMailingAddressSameAsHomeCheckbox.change(function () {
      toggleMailingAddress();
    });

    function copyMailingAddressFromHomeAddress(inputData) {
      //Get providerResponseService address
      const $providerResponseServiceStreetAddress1 = inputData['providerResponseServiceStreetAddress1']
      const $providerResponseServiceStreetAddress2 = inputData['providerResponseServiceStreetAddress2']
      const $providerResponseServiceCity = inputData['providerResponseServiceCity']
      const $providerResponseServiceState = inputData['providerResponseServiceState']
      const $providerResponseServiceZipCode = inputData['providerResponseServiceZipCode']

      //verify Street Address1 is present in the home address, then copy the values to
      if ($.trim($providerResponseServiceStreetAddress1) !== '') {
        $providerMailingStreetAddress1.val($providerResponseServiceStreetAddress1);
        $providerMailingStreetAddress2.val($providerResponseServiceStreetAddress2);
        $providerMailingCity.val($providerResponseServiceCity);
        $providerMailingState.val($providerResponseServiceState);
        $providerMailingZipCode.val($providerResponseServiceZipCode);
      }
    }
  });
</script>
</body>
</html>