<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-start-date.title},
    header=#{registration-start-date.header},
    subtext=#{registration-start-date.subtext},
    buttonLabel=#{general.button.continue},
    required='true',
    iconFragment=~{fragments/gcc-icons :: calendar},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/date ::
          date(inputName='providerCareStart',
          ariaLabel='header',
          groupName='providerCareStartDate')}"/>
  </th:block>
</th:block>