<div id="registration-applicant"></div>
<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-applicant.title},
    iconFragment=~{fragments/gcc-icons :: child-care-center},
    header=#{registration-applicant.header},
    required=true,
    inputName='providerLicenseExemptType',
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/radioFieldset ::
                  radioFieldset(inputName='providerLicenseExemptType',
                  ariaLabel='header',
                  content=~{:: radioOptions})}">
                  <th:block th:ref="radioOptions">
                    <th:block
                        th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicenseExemptType',value='Self', label=#{registration-applicant.option1})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicenseExemptType',value='License-exempt', label=#{registration-applicant.option2})}"/>
                  </th:block>
                </th:block>
    <div class="notice notice--gray spacing-above-35">
      <p th:text="#{registration-applicant.notice}"></p>
    </div>
  </th:block>
</th:block>