<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-unlicensed-care-location.title},
    iconFragment=~{fragments/gcc-icons :: house},
    header=#{registration-unlicensed-care-location.header},
    required=true,
    inputName='providerLicenseExemptCareLocation',
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/radioFieldset ::
                  radioFieldset(inputName='providerLicenseExemptCareLocation',
                  ariaLabel='header',
                  content=~{:: radioOptions})}">
      <th:block th:ref="radioOptions">
        <th:block
                th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicenseExemptCareLocation',value='Providers home', label=#{registration-unlicensed-care-location.option1})}"/>
        <th:block
                th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicenseExemptCareLocation',value='Childs home', label=#{registration-unlicensed-care-location.option2})}"/>
      </th:block>
    </th:block>
  </th:block>
</th:block>