<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-tax-id.title},
    header=#{registration-tax-id.header},
    subtext=#{registration-tax-id.helper},
    formAction=${formAction},
    buttonLabel=#{general.button.continue},
    required='true',
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
      <div class="spacing-below-60">
        <th:block th:replace="~{fragments/honeycrisp/reveal :: reveal(
        controlId='r1',
        linkLabel=~{::revealLabel},
        content=~{::revealContent},
        forceShowContent='true')}">
          <th:block th:ref="revealLabel">
            <th:span th:text="#{registration-tax-id.reveal-header}"></th:span>
          </th:block>
          <th:block th:ref="revealContent">
            <th:span th:utext="#{registration-tax-id.reveal-body}"></th:span>
          </th:block>
        </th:block>
      </div>
      <th:block th:replace="~{fragments/inputs/radioFieldset ::
                    radioFieldset(inputName='providerTaxIdType',
                    ariaLabel='header',
                    content=~{::radioContent})}">
                    <th:block th:ref="radioContent">
                      <th:block
                          th:replace="~{fragments/inputs/radio :: radio(inputName='providerTaxIdType',value='SSN', label=#{registration-tax-id.ssn})}"/>
                      <th:block
                          th:replace="~{fragments/inputs/radio :: radio(inputName='providerTaxIdType',value='FEIN', label=#{registration-tax-id.fein})}"/>
                    </th:block>
      </th:block>
  </th:block>
</th:block>