<th:block th:with="isExistingProvider=${submission.getInputData.getOrDefault('providerPaidCcap', 'false').equals('true')}">
    <th:block
        th:replace="~{fragments/screens/registration-submit-confirmation ::
      screen(
        title=#{registration-submit-confirmation.title},
        header=${isExistingProvider ? #messages.msg('registration-submit-confirmation.existing-provider.header') : #messages.msg('registration-submit-confirmation.new-provider.header')},
        surveyDifficultyInputName='providerSurveyProviderDifficulty',
        surveyDifficultyInputLabel=${isExistingProvider ? 'registration-submit-confirmation.existing-provider.experience-question' : 'registration-submit-confirmation.new-provider.experience-question'},
        includedNotice=${isExistingProvider},
        notice=#{'registration-submit-confirmation.existing-provider.notice'},
        surveyAdditionalCommentsInputName='providerSurveyAdditionalComments',
        surveyAdditionalCommentsLabel=#{submit-confirmation.general.comments.label},
        experienceQuestion=${isExistingProvider ? #messages.msg('registration-submit-confirmation.existing-provider.experience-question') : #messages.msg('registration-submit-confirmation.new-provider.experience-question')})}">
    </th:block>
</th:block>
