<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-payment-tax-id.title},
    header=#{registration-payment-tax-id.header},
    subtext=#{registration-payment-tax-id.helper},
    formAction=${formAction},
    iconFragment=~{fragments/gcc-icons :: care-financial},
    buttonLabel=#{general.button.continue},
    required='true',
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
        <div class="spacing-below-60">
            <th:block th:replace="~{fragments/honeycrisp/reveal :: reveal(
        controlId='r1',
        linkLabel=~{::revealLabel},
        content=~{::revealContent},
        forceShowContent='false')}">
                <th:block th:ref="revealLabel">
                    <th:span th:text="#{registration-payment-tax-id.reveal-header}"></th:span>
                </th:block>
                <th:block th:ref="revealContent">
                    <th:span th:utext="#{registration-payment-tax-id.reveal-body}"></th:span>
                </th:block>
            </th:block>
        </div>
        <th:block th:replace="~{fragments/inputs/radioFieldset ::
                    radioFieldset(inputName='providerTaxIdType',
                    ariaLabel='header',
                    content=~{::radioContent})}">
            <th:block th:ref="radioContent">
                <th:block
                        th:with="homeProvider = ${!inputData.getOrDefault('homeProviderTaxIDselection', '').equals('')},
                     hideSSNProviderTypeInput=${homeProvider && (inputData.get('homeProviderTaxIDselection').equals('ITIN'))},
                     hideITINOption = ${homeProvider && (inputData.getOrDefault('homeProviderTaxIDselection', '').equals('SSN'))}">
                    <th:block th:unless="${hideSSNProviderTypeInput}">
                        <th:block
                                th:replace="~{fragments/inputs/radio :: radio(inputName='providerTaxIdType',value='SSN', label=#{registration-payment-tax-id.ssn})}"/>
                    </th:block>
                    <th:block th:if="${!hideITINOption}">
                        <th:block th:replace="~{fragments/inputs/radio :: radio(inputName='providerTaxIdType',value='ITIN', label=#{registration-payment-tax-id.itin})}"/>
                    </th:block>
                    <th:block
                            th:replace="~{fragments/inputs/radio :: radio(inputName='providerTaxIdType',value='FEIN', label=#{registration-payment-tax-id.fein})}"/>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
</th:block>