<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-convictions-info.title},
    header=#{registration-convictions-info.header},
    subtext=#{registration-convictions-info.subtext},
    required=true,
    buttonLabel=#{general.button.continue},
    iconFragment=~{fragments/gcc-icons :: person},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
        <th:block th:replace="~{fragments/inputs/textArea ::
      textArea(inputName='providerConvictionExplanation',
      ariaLabel='header',
      rows='2',
      maxLength='88')}"/>
    </th:block>
</th:block>