<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-home-provider-tax-id.title},
    header=#{registration-home-provider-tax-id.header},
    formAction=${formAction},
    iconFragment=~{fragments/gcc-icons :: care-financial},
    buttonLabel=#{general.button.continue},
    required='true',
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <div class="spacing-below-60">
      <p th:text="#{registration-home-provider-tax-id.body1}"></p>
      <p th:text="#{registration-home-provider-tax-id.body2}"></p>
    </div>
    <th:block th:replace="~{fragments/inputs/radioFieldset ::
                    radioFieldset(inputName='homeProviderTaxIDselection',
                    ariaLabel='header',
                    content=~{::radioContent})}">
      <th:block th:ref="radioContent">
        <th:block
                th:replace="~{fragments/inputs/radio :: radio(inputName='homeProviderTaxIDselection',value='SSN', label=#{registration-home-provider-tax-id.ssn})}"/>
        <th:block
                th:replace="~{fragments/inputs/radio :: radio(inputName='homeProviderTaxIDselection',value='ITIN', label=#{registration-home-provider-tax-id.itin})}"/>
      </th:block>
    </th:block>
  </th:block>
</th:block>