<th:block
        th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-unlicensed-relationship.title},
    iconFragment=~{fragments/gcc-icons :: people},
    header=#{registration-unlicensed-relationship.header},
    required=true,
    inputName='providerLicenseExemptRelationship',
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/radioFieldset ::
                  radioFieldset(inputName='providerLicenseExemptRelationship',
                  ariaLabel='header',
                  content=~{:: radioOptions})}">
      <th:block th:ref="radioOptions">
        <th:block
                th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicenseExemptRelationship',value='Relative', label=#{registration-unlicensed-relationship.option1})}"/>
        <th:block
                th:replace="~{fragments/inputs/radio :: radio(inputName='providerLicenseExemptRelationship',value='Not related', label=#{registration-unlicensed-relationship.option2})}"/>
      </th:block>
    </th:block>
  </th:block>
</th:block>