<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-licensing.title},
    header=#{registration-licensing.header},
    subtext=#{registration-licensing.subtext},
    iconFragment=~{fragments/gcc-icons :: licensedProvider},
    required='true',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
      <button
              th:name="providerLicensed"
              th:id="providerLicensed-true"
              th:aria-describedby="header"
              type="submit"
              value="true"
              class="button button--primary">
          <span th:text="#{registration-licensing.button-yes}"></span>
      </button>
      <button
              th:name="providerLicensed"
              th:id="providerLicensed-false"
              th:aria-describedby="header"
              type="submit"
              value="false"
              class="button">
          <span th:text="#{registration-licensing.button-no}"></span>
      </button>
  </th:block>
</th:block>
