<th:block
    th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{registration-home-provider-dob.title},
    header=#{registration-home-provider-dob.header},
    subtext=#{registration-home-provider-dob.helper},
    buttonLabel=#{general.button.continue},
    required='true',
    formAction=${formAction},
    iconFragment=~{fragments/gcc-icons :: calendar},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <input type="hidden" th:name="current_uuid" th:value="${fieldData.get('uuid')}">
    <th:block th:replace="~{fragments/inputs/date ::
    date(inputName='providerIdentityCheckDateOfBirth',
    ariaLabel='header',
    groupName='providerIdentityCheckDateOfBirthDate')}"/>
  </th:block>
</th:block>