<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{provider-response-confirm-address.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block
                        th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                    <th:block th:ref="formContent"
                              th:with="hasSuggestion=${T(org.ilgcc.app.utils.SubmissionUtilities).hasAddressSuggestion(submission, 'providerResponseService')}">
                        <div class="form-card__content">
                            <th:block th:if="${hasSuggestion}">
                                <th:block th:replace="~{fragments/inputs/overrides/addressSuggestionFound ::
                  addressSuggestionFound(
                    header=#{parent-confirm-address.header},
                    notice=#{parent-confirm-address.note-suggested-addr},
                    addressInputToCheck='providerResponseService',
                    inputName='useSuggestedProviderAddress')}"/>
                            </th:block>
                            <th:block th:unless="${hasSuggestion}">
                                <th:block th:replace="~{fragments/inputs/overrides/addressSuggestionNotFound ::
                  addressSuggestionNotFound(
                    header=#{parent-confirm-address.header},
                    notice=#{parent-confirm-address.note-addr-not-found},
                    addressInputToCheck='providerResponseService',
                    inputName='useSuggestedProviderAddress',
                    editAddressURL='/flow/providerresponse/service-address')}"/>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
