<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{response.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: clipboardWithEnvelope}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{response.header})}"/>
                <th:block
                        th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                    <th:block th:ref="formContent">
                        <div class="form-card__content">
                            <div class="providerResponse">
                                <th:block
                                        th:if="${submission.getInputData().containsKey('clientApplicationId')}"
                                        th:with="applicationData=${submission.getInputData().get('clientResponse')}, children=${submission.getInputData().get('clientResponseChildren')}">

                                    <p class="category" th:text="#{response.confirmation-code}"></p>
                                    <p class="response"
                                       th:text="${applicationData.getOrDefault('clientResponseConfirmationCode', 'n/a')}"></p>

                                    <p class="category" th:text="#{response.parent-name}"></p>
                                    <p class="response"
                                       th:text="${applicationData.getOrDefault('clientResponseParentName', 'n/a')}"></p>

                                    <th:block
                                            th:each="child : ${submission.getInputData().get('clientResponseChildren')}">
                                        <p class="category" th:text="#{response.child-name}"></p>
                                        <p class="response"
                                           th:text="${child.getOrDefault('childName', 'n/a')}"></p>

                                        <p class="category" th:text="#{response.child-age}"></p>
                                        <p th:text="${child.getOrDefault('childAge', 'n/a')}"></p>

                                        <p class="category" th:text="#{response.hours}"></p>
                                        <ul class="list--bulleted"
                                            th:utext="${child.get('childCareHours')}"></ul>

                                        <p class="category" th:text="#{response.start-date}"></p>
                                        <p class="response"
                                           th:text="${child.getOrDefault('childStartDate', 'n/a')}"></p>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <th:block th:replace="~{fragments/inputs/radioFieldset ::
                                          radioFieldset(inputName='providerResponseAgreeToCare',
                                          ariaLabel=#{response.title},
                                          content=~{::providerResponse})}">
                            <th:block th:ref="providerResponse">
                                <th:block
                                        th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseAgreeToCare',value='true', label=#{response.button.yes})}"/>
                                <th:block
                                        th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseAgreeToCare',value='false', label=#{response.button.no})}"/>
                            </th:block>
                        </th:block>
                        <div class="form-card__footer">

                            <th:block
                                    th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
                        </div>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
