<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{'provider-response-submit-complete.title'})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <div class="grid">
        <div th:replace="~{fragments/goBack :: goBackLink}"></div>
        <main id="content" role="main" class="form-card spacing-above-35">
            <th:block
                    th:replace="~{fragments/gcc-icons :: greenCheck}"></th:block>
            <th:block
                    th:replace="~{fragments/cardHeader :: cardHeader(header=#{'provider-response-submit-complete.header'})}"/>
            <div class="notice spacing-below-60 notice--gray"
                 th:text="#{'provider-response-submit-complete.notice-yes'}"></div>
            <div class="form-card__footer">
                <th:block th:replace="~{fragments/continueButton :: continue}"/>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
: