<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{provider-response-submit-complete-final.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block
                        th:with="response=${submission.getInputData.get('providerResponseAgreeToCare')}">

                    <th:block th:replace="~{fragments/gcc-icons :: greenCheck}"></th:block>
                    <div th:if="${lockedSubmissionMessage}" class="notice--warning">
                        <p th:text="${lockedSubmissionMessage}"></p>
                    </div>
                    <th:block th:if="${response == null or response.equals('true')}">

                    <div
                                th:class="spacing-below-0"
                                th:replace="~{fragments/cardHeader :: cardHeader(header=#{provider-response-submit-complete-final.header})}">
                        </div>
                        <th:block
                                th:replace="~{fragments/form :: form(action=${formAction}, content=~{::content})}">
                            <th:block th:ref="content">
                                <div class="form-card__content"
                                     th:with="confirmationCode=${submission.inputData.get('providerResponseFamilyShortCode')}">
                                    <div class="notice--success">
                                        <p th:utext="${#messages.msg('provider-response-submit-complete-final.notice-pt1', confirmationCode)}"></p>
                                        <p th:text="#{provider-response-submit-complete-final.notice-pt2}"></p>
                                    </div>
                                </div>
                                <div class="form-card__footer">
                                    <a href="/"
                                       th:text="#{provider-response-submit-complete-final.return-to-home-button}"
                                       class="button button--primary"
                                       id="return-to-home-button-"></a>
                                    <a href="/providerresponse/submit"
                                       th:text="#{provider-response-submit-complete-final.respond-to-another-app-button}"
                                       class="button"
                                       id="respond-to-another-app-button"></a>
                                </div>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:if="${response != null and !response.equals('true')}">
                    <th:block
                                th:replace="~{fragments/cardHeader :: cardHeader(header=#{'provider-response-submit-complete.header'})}"/>
                        <div class="notice spacing-below-60 notice--gray"
                             th:text="#{'provider-response-submit-complete.notice-no'}"></div>
                        <div class="form-card__footer">
                            <a th:href="'/'"
                               th:text="#{'provider-response-submit-complete.button-no'}"
                               class="button button--primary"
                               id="continue-link"></a>
                        </div>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
