<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{provider-response-response.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: application-mail}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeaderForSingleInputScreen :: cardHeaderForSingleInputScreen(header=#{provider-response-response.header}, inputName='providerResponseAgreeToCare', required='true')}"/>
                <th:block
                        th:replace="~{fragments/form :: form(action=|/flow/${flow}/${screen}/submit|, content=~{::formContent})}">
                    <th:block th:ref="formContent">
                        <div class="form-card__content">
                            <h3 th:text="#{provider-response-response.family-details}"></h3>
                            <th:block
                                    th:if="${submission.getInputData().containsKey('familySubmissionId')}"
                                    th:with="applicationData=${submission.getInputData().get('clientResponse')}, children=${submission.getInputData().get('clientResponseChildren')}">
                                <div class="radio-button familyDetails">
                                    <p th:id="parent-name" th:utext="${#messages.msg('provider-response-response.parent-name', applicationData.getOrDefault('clientResponseParentName', 'n/a'))}"></p>

                                    <th:block th:if="${children.size().equals(1)}">
                                        <p th:utext="#{'provider-response-response.care-request.1-child'}"></p>
                                    </th:block>
                                    <th:block th:unless="${children.size().equals(1)}">
                                        <p th:utext="${#messages.msg('provider-response-response.care-request.multiple-children', children.size())}"></p>
                                    </th:block>

                                    <p th:id="confirmation-code" th:utext="${#messages.msg('provider-response-response.confirmation-code', applicationData.getOrDefault('clientResponseConfirmationCode', 'n/a'))}"></p>
                                </div>
                                <div class="familyDetailsReveal">
                                    <th:block
                                            th:each="child, iter : ${children}">
                                        <th:block th:replace="~{fragments/honeycrisp/reveal :: reveal(
                                            controlId='r1',
                                            linkLabel=~{::ref1},
                                            content=~{::revealContent},
                                            forceShowContent=${children.size().equals(1)})}">
                                            <th:block th:ref="ref1">
                                                <th:span th:id="${'child-name-'+iter.index}"
                                                        th:utext="${#messages.msg('provider-response-response.child-name', iter.index + 1, child.getOrDefault('childName', 'n/a'))}"></th:span>
                                            </th:block>
                                            <th:block th:ref="revealContent">
                                                <p th:id="${'child-age-'+iter.index}" th:utext="${#messages.msg('provider-response-response.child-age', child.getOrDefault('childAge', 'n/a'))}"></p>

                                                <p class="response-header"
                                                   th:utext="#{provider-response-response.hours}"></p>
                                                <ul class="list--bulleted"
                                                    th:id="${'child-schedule-'+iter.index}"
                                                    th:utext="${child.get('childCareHours')}"></ul>

                                                <p class="response-header"
                                                   th:utext="#{provider-response-response.start-date}"></p>
                                                <p
                                                   th:id="${'child-start-'+iter.index}"
                                                   th:text="${child.getOrDefault('childStartDate', 'n/a')}"></p>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </div>
                            </th:block>
                        </div>
                        <div class="question-with-follow-up">
                            <div class="question-with-follow-up__question">
                                <th:block th:replace="~{fragments/inputs/radioFieldset ::
                                          radioFieldset(inputName='providerResponseAgreeToCare',
                                          ariaLabel='header',
                                          content=~{::providerResponse})}">
                                    <th:block th:ref="providerResponse">
                                        <th:block
                                                th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseAgreeToCare',value='true', label=#{provider-response-response.button.yes})}"/>
                                        <th:block
                                                th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseAgreeToCare',value='false', label=#{provider-response-response.button.no}, followUpId='#deny-reason-follow-up')}"/>
                                    </th:block>
                                </th:block>
                            </div>
                            <div class="question-with-follow-up__follow-up spacing-below-35"
                                 id="deny-reason-follow-up">
                                <th:block th:replace="~{fragments/inputs/radioFieldset ::
                                      radioFieldset(inputName='providerResponseDenyCareReason',
                                      label=#{provider-response-response.follow-up.label},
                                      fieldsetHelpText=#{provider-response-response.follow-up.help},
                                      content=~{::followUp})}">
                                    <th:block th:ref="followUp" th:with="
                                        noSpace=${T(org.ilgcc.app.utils.enums.ProviderDenialReason).NO_SPACE},
                                        badStartDate=${T(org.ilgcc.app.utils.enums.ProviderDenialReason).BAD_START_DATE},
                                        badHours=${T(org.ilgcc.app.utils.enums.ProviderDenialReason).BAD_HOURS}, 
                                        other=${T(org.ilgcc.app.utils.enums.ProviderDenialReason).OTHER}">
                                        <th:block
                                                th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseDenyCareReason', value=${noSpace}, label=#{provider-response-response.follow-up.option-1})}"/>
                                        <th:block
                                                th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseDenyCareReason', value=${badStartDate}, label=#{provider-response-response.follow-up.option-2})}"/>
                                        <th:block
                                                th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseDenyCareReason', value=${badHours}, label=#{provider-response-response.follow-up.option-3})}"/>
                                        <th:block
                                                th:replace="~{fragments/inputs/radio :: radio(inputName='providerResponseDenyCareReason', value=${other}, label=#{provider-response-response.follow-up.option-4})}"/>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <button id="form-submit-button"
                                class="button button--primary"
                                type="submit"
                                data-mixpanel="provider-response"
                                th:text="#{general.inputs.submit}">
                        </button>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>



