<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{'submit-complete.title'})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <div class="grid">
        <div th:replace="~{fragments/goBack :: goBackLink}"></div>
        <main id="content" role="main" class="form-card spacing-above-35">
            <th:block
                    th:replace="~{fragments/gcc-icons :: greenCheck}"></th:block>
            <th:block
                    th:replace="~{fragments/cardHeader :: cardHeader(header=#{'submit-complete.header'})}"/>
            <th:block th:with="response=${submission.getInputData.get('providerResponseAgreeToCare')}">
                <th:block th:if="${response.equals('true')}">
                    <div class="notice spacing-below-60 notice--gray"
                         th:text="#{'submit-complete.notice-yes'}"></div>
                    <div class="form-card__footer">
                        <th:block th:replace="~{fragments/continueButton :: continue}"/>
                    </div>
                </th:block>
                <th:block th:unless="${response.equals('true')}">
                    <div class="notice spacing-below-60 notice--gray"
                         th:text="#{'submit-complete.notice-no'}"></div>
                    <div class="form-card__footer">
                        <a th:href="'/faq'"
                           th:text="#{'submit-complete.button-no'}"
                           class="button button--primary"
                           id="continue-link"></a>
                    </div>
                </th:block>


            </th:block>

    </div>
    </th:block>
    </main>
</div>
</section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
: