<th:block th:fragment="screen">
  <th:block
      th:replace="~{fragments/screens/screenWithOneInput ::
        screenWithOneInput(
          title=#{activities-ed-program.title},
          iconFragment=~{fragments/gcc-icons :: mortarboard},
          buttonLabel=#{general.button.continue},
          formAction=${formAction},
          inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block
          th:replace="~{fragments/inputs/radioFieldset :: radioFieldset(ariaLabel='header', content=~{::radioOptions})}">
        <th:block th:ref="radioOptions">
          <th:block th:replace="~{fragments/inputs/radio :: radio(value='belowPostSecondary', label=#{activities-ed-program-type.belowPostSecondary},
                        radioHelpText=#{activities-ed-program-type.belowPostSecondary.secondPart})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='highSchoolOrGed', label=#{activities-ed-program-type.highSchool})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='occupationOrVocationCertificate', label=#{activities-ed-program-type.vocational})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='twoYearCollege', label=#{activities-ed-program-type.two-year-college})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='fourYearCollege', label=#{activities-ed-program-type.four-year-college})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='tanfWorkTraining', label=#{activities-ed-program-type.tanf})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='internship', label=#{activities-ed-program-type.internship})}"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>
