<th:block th:fragment="screen">
  <!DOCTYPE html>
  <html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head(title=#{activities-class-hourly-schedule.title})}"></head>
  <script th:inline="javascript">
      $(document).ready(function () {
          const $allDaysCheckbox = $('#' + [[ ${inputName}]] + '-Yes')
          const $individualFields = $('#individual-days');
          const $groupedField = $('#grouped-days');

          // On page load
          if ($allDaysCheckbox.is(':checked')) {
              $individualFields.toggleClass('hidden');
              $('#individual-days :input').prop('disabled', $individualFields.hasClass('hidden'));
          } else {
              $groupedField.toggleClass('hidden');
              $('#grouped-days :input').prop('disabled', true);
          }

          function toggleFields() {
              $individualFields.toggleClass('hidden');
              $('#individual-days :input').prop('disabled', $individualFields.hasClass('hidden'));
              $groupedField.toggleClass('hidden');
              $('#grouped-days :input').prop('disabled', $groupedField.hasClass('hidden'));
          }

          // On checkbox change
          $allDaysCheckbox.change(function () {
              toggleFields();
          });
      });
  </script>
  <body>
  <div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
      <div class="grid">
        <div th:replace="~{fragments/goBack :: goBackLink}"></div>
        <main id="content" role="main" class="form-card spacing-above-35">
          <th:block th:replace="~{fragments/inputs/headerNameUnderlined :: headerNameUnderlined(text=${programName})}"/>
          <th:block th:replace="~{fragments/cardHeader :: cardHeader}"/>
          <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
            <th:block th:ref="formContent">
              <div class="form-card__content">
                <th:block
                    th:replace="~{fragments/inputs/checkbox :: checkbox(value='Yes', label=${sameHoursLabel})}"/>
                <div id="grouped-days">
                  <th:block
                      th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName=${inputNamePrefix} + 'StartTimeAllDays', endInputName=${inputNamePrefix} + 'EndTimeAllDays', label=${fieldData.get('displayWeeklySchedule')})}"/>
                </div>
                <div id="individual-days">
                  <th:block th:each="day: ${selectedDays}">
                    <th:block
                        th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName=${inputNamePrefix} + 'StartTime' + ${day}, endInputName=${inputNamePrefix} + 'EndTime' + ${day}, label=#{${'general.week.' + day}})}"/>
                  </th:block>
                </div>
              </div>
              <div class="form-card__footer">
                <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
              </div>
            </th:block>
          </th:block>
        </main>
      </div>
    </section>
  </div>
  <th:block th:replace="~{fragments/footer :: footer}"/>
  </body>
  </html>
</th:block>