<th:block th:fragment="screen">
  <th:block
      th:replace="~{fragments/screens/screenWithOneInput ::
        screenWithOneInput(
          title=#{activities-ed-program.title},
          iconFragment=~{fragments/gcc-icons :: mortarboard},
          buttonLabel=#{general.button.continue},
          formAction=${formAction},
          inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block
          th:replace="~{fragments/inputs/radioFieldset :: radioFieldset( ariaLabel='header', content=~{::radioOptions})}">
        <th:block th:ref="radioOptions">
          <th:block th:replace="~{fragments/inputs/radio :: radio(value='belowPostSecondary', label=#{activities-ed-program-type.belowPostSecondary},
                        radioHelpText=#{activities-ed-program-type.belowPostSecondary.secondPart})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='highSchool', label=#{activities-ed-program-type.highSchool})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='vocational', label=#{activities-ed-program-type.vocational})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='college', label=#{activities-ed-program-type.college})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='graduateSchool', label=#{activities-ed-program-type.graduate})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='tanf', label=#{activities-ed-program-type.tanf})}"/>
          <th:block
              th:replace="~{fragments/inputs/radio :: radio(value='other', label=#{activities-ed-program-type.other})}"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>
