<th:block th:fragment="screen">
  <!DOCTYPE html>
  <html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head(title=#{activities-ed-program.title})}"></head>
  <body>
  <div class="page-wrapper">
    <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
    <section class="slab">
      <div class="grid">
        <th:block th:replace="~{fragments/goBack :: goBackLink}"/>
        <main id="content" role="main" class="form-card spacing-above-35">
          <th:block th:replace="~{fragments/gcc-icons :: linedDocument}"/>
          <th:block th:replace="~{fragments/cardHeader :: cardHeader}"/>
          <div class="notice--warning">
            <p class="notice-text" th:utext="${notice}"></p>
          </div>
          <div class="form-card__footer">
            <th:block th:replace="~{fragments/continueButton :: continue}"/>
            </br>
            <a id="skip-coverage-during-classtime" th:href="${skipLink}"
               th:text="${skipText}"></a>
          </div>
        </main>
      </div>
    </section>
  </div>
  <th:block th:replace="~{fragments/footer :: footer}"/>
  </body>
  </html>
</th:block>
