<th:block th:fragment="screen">
  <!DOCTYPE html>
  <html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head(title=#{activities-ed-program.title})}"></head>
  <body>
  <div class="page-wrapper">
    <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
    <section class="slab">
      <div class="grid">
        <th:block th:replace="~{fragments/goBack :: goBackLink}"/>
        <main id="content" role="main" class="form-card spacing-above-35">
          <th:block th:replace="~{fragments/inputs/headerNameUnderlined :: headerNameUnderlined(text=${programName})}"/>
          <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{activities-ed-program-info.header})}"/>
          <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
            <th:block th:ref="formContent">
              <div class="form-card__content">
                <th:block
                    th:replace="~{fragments/inputs/phone :: phone(inputName=${phoneNumberInputName}, label=#{activities-ed-program-info.phone-number})}"/>
                <th:block
                    th:replace="~{fragments/inputs/text :: text(inputName=${streetAddressInputName}, label=#{general.street-address})}"/>
                <th:block
                    th:replace="~{fragments/inputs/text :: text(inputName=${cityInputName}, label=#{general.city})}"/>
                <th:block th:replace="~{fragments/inputs/state ::
                  state(inputName='state',
                  label=#{general.state})}"/>
                <th:block
                    th:replace="~{fragments/inputs/text :: text(inputName=${zipCodeInputName}, label=#{general.zip-code})}"/>
              </div>
              <div class="form-card__footer">
                <th:block
                    th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
              </div>
            </th:block>
          </th:block>
        </main>
      </div>
    </section>
  </div>
  <th:block th:replace="~{fragments/footer :: footer}"/>
  </body>
  </html>
</th:block>