<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{no-provider-notice.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block
                        th:replace="~{fragments/gcc-icons :: important-notice}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{no-provider-notice.header}, subtext=${#messages.msg('no-provider-notice.active.notice',#messages.msg('illinois-cares-for-kids-link'), submission.getInputData().getOrDefault('ccrrName', ''))})}"/>
                <div class="form-card__footer">
                    <div>
                        <th:block th:replace="~{fragments/continueButton :: continue}"/>
                    </div>
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
: