<th:block th:fragment="screen">
  <!DOCTYPE html>
  <html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head(title=${#messages.msg(textPrefix+'.title')})}"></head>
  <body>
  <div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
      <div class="grid">
        <div th:replace="~{fragments/goBack :: goBackLink}"></div>
        <main id="content" role="main" class="form-card spacing-above-35">
          <div class="text--centered">
            <th:block th:replace="${iconFragment}"></th:block>
            <p class="text--grey-dark" th:id="${textPrefix+'-step'}" th:text="${#messages.msg('general.step-header', currentStep , '5')}"></p>
            <th:block
                    th:replace="~{fragments/cardHeader :: cardHeader(header=${#messages.msg(textPrefix+'.title')})}"/>
          </div>
          <div class="form-card__content">
            <div class="boxed-content">
              <p class="text--centered"><strong th:text="${#messages.msg(textPrefix+'.box.header')}"></strong></p>
              <ol class="list--numbered">
                  <th:block th:with="boxOne=${#messages.msgOrNull(textPrefix+'.box.one')}">
                      <th:block th:if="${null != boxOne}">
                          <li th:text="${boxOne}"></li>
                      </th:block>
                  </th:block>
                  <th:block th:with="boxTwo=${#messages.msgOrNull(textPrefix+'.box.two')}">
                      <th:block th:if="${null != boxTwo}">
                          <li th:text="${boxTwo}"></li>
                      </th:block>
                  </th:block>
                  <th:block th:with="boxThree=${#messages.msgOrNull(textPrefix+'.box.three')}">
                      <th:block th:if="${null != boxThree}">
                          <li th:text="${boxThree}"></li>
                      </th:block>
                  </th:block>
              </ol>
            </div>
          </div>
          <div class="form-card__footer text--centered">
            <th:block th:replace="~{fragments/continueButton :: continue}"/>
          </div>
        </main>
      </div>
    </section>
  </div>
  <th:block th:replace="~{fragments/footer :: footer}"/>
  </body>
  </html>

</th:block>

