<th:block th:fragment="screen">
    <!DOCTYPE html>
    <html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
          th:with="
            submittedDate=${inputData.containsKey('formattedSubmittedAtDate') ? T(org.ilgcc.app.utils.DateUtilities).convertDateToFullWordMonthPattern(inputData.get('formattedSubmittedAtDate')) : 'No Date'},
            submittedTime=${inputData.containsKey('formattedSubmittedAtTime') ? inputData.get('formattedSubmittedAtTime') + ' CT' : 'No time'},
            hasSubmittedSurvey=${
                inputData.containsKey(surveyDifficultyInputName) || inputData.containsKey(surveyAdditionalCommentsInputName)}">
    <head th:replace="~{fragments/head :: head(title=${title})}"></head>
    <body>
    <div class="page-wrapper">
        <div th:replace="~{fragments/toolbar :: toolbar}"></div>
        <section class="slab">
            <div class="grid">
                <div th:replace="~{fragments/goBack :: goBackLink}"></div>
                <main id="content" role="main" class="form-card spacing-above-35">
                    <th:block th:replace="~{fragments/gcc-icons :: check-mark}"></th:block>
                    <div th:if="${lockedSubmissionMessage}" class="notice--warning">
                        <p th:text="${lockedSubmissionMessage}"></p></div>
                    <div class="registration-submit-confirmation-header">
                        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=${header})}"/>
                    </div>
                    <div th:if="${includedNotice}" class="notice notice--gray">
                        <p th:text="${notice}"></p>
                    </div>
                    <p th:utext="#{submit-confirmation.general.subtext(${submittedDate}, ${submittedTime}, ${session.confirmationCode})}"></p>
                    <th:block
                            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                        <div th:ref="formContent">
                            <div class="form-card__content">
                                <hr class="response-line-margins">
                                <th:block
                                        th:replace="~{fragments/gcc-icons :: phone-call}"></th:block>
                                <p th:utext="#{submit-confirmation.general.call-text}"></p>
                                <hr class="response-line-margins">
                                <p th:text="#{submit-confirmation.general.experience}"></p>
                                <th:block th:if="${hasSubmittedSurvey}">
                                    <div class="notice--success">
                                        <ul class="list--checkmark list--material-checkmark spacing-above-0">
                                            <li>
                                                <span th:text="#{submit-confirmation.general.survey.complete}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </th:block>
                                <th:block th:unless="${hasSubmittedSurvey}">
                                    <th:block
                                            th:replace="~{fragments/inputs/surveyQuestion :: surveyQuestion(inputName=${surveyDifficultyInputName}, label=${surveyDifficultyInputLabel})}"/>
                                    <th:block th:replace="~{fragments/inputs/textArea ::
                                  textArea(inputName=${surveyAdditionalCommentsInputName},
                                  label=${surveyAdditionalCommentsLabel},
                                  rows='2',
                                  maxLength='1000')}"/>
                                </th:block>
                            </div>
                            <div class="form-card__footer">
                                <div th:unless="${hasSubmittedSurvey}">
                                    <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                                    text=#{submit-confirmation.general.button.feedback})}"/>
                                </div>
                                <a th:text="#{submit-confirmation.general.button.return}"
                                   href="/"
                                   id="return-to-home"
                                   class="button--secondary button spacing-above-15"></a>
                            </div>
                        </div>
                    </th:block>
                </main>
            </div>
        </section>
    </div>
    <th:block th:replace="~{fragments/footer :: footer}"/>
    </body>
    </html>
</th:block>
