spring:
  thymeleaf:
    cache: true
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/il-gcc
form-flow:
  aws:
    s3_bucket_name: ${DEMO_AWS_BUCKET}
  address-validation:
    disabled: true
  short-code:
    short-code-configs:
      gcc:
        prefix: DEMO-
        creation-point: creation
il-gcc:
  generate-short-links: ${GENERATE_SHORT_LINKS_FLAG:false}
  show-no-provider-flow: ${SHOW_NO_PROVIDER_FLOW:false}
  allow-provider-registration-flow: ${ALLOW_PROVIDER_REGISTRATION_FLOW:false}