form-flow:
  error:
    show-stack-trace: true
  address-validation:
    disabled: false
management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: '*'
server:
  ssl:
    enabled: true
    key-store: ./localhost+2.p12
    key-store-type: PKCS12
    key-store-password: ${KEY_STORE_PASSWORD}
il-gcc:
  dts:
    processing-org: '4c-ccap-apps-testing'
    enable-background-jobs: false