spring:
  thymeleaf:
    cache: true
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/il-gcc
form-flow:
  aws:
    s3_bucket_name: 'get-child-care-illinois-demo'
  address-validation:
    disabled: true
