spring:
  thymeleaf:
    cache: true
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/illinois-staging
form-flow:
  error:
    show-stack-trace: false
  virus-scanning:
    enabled: true
management:
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
il-gcc:
  dts:
    processing-org: '4c-ccap-apps-testing'
