form-flow:
  error:
    show-stack-trace: true
  aws:
    s3_bucket_name: ${AWS_BUCKET}
  address-validation:
    enabled: ${ADDRESS_VALIDATION_ENABLED:false}
  short-code:
    short-code-configs:
      gcc:
        prefix: DEV-
        creation-point: creation
management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: '*'
server:
  ssl:
    enabled: true
    key-store: ./localhost+2.p12
    key-store-type: PKCS12
    key-store-password: ${KEY_STORE_PASSWORD}
org:
  jobrunr:
    jobs:
      retry-back-off-time-seed: 1
il-gcc:
  enable-emails: ${ENABLE_EMAILS_FLAG:false}
  dts:
    processing-org: '4c-ccap-apps-testing'