spring:
  thymeleaf:
    cache: true
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/illinois-prod
form-flow:
  error:
    show-stack-trace: false
  virus-scanning:
    enabled: true
  address-validation:
    disabled: false
management:
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
il-gcc:
  show-no-provider-flow: ${SHOW_NO_PROVIDER_FLOW:false}
  dts:
    processing-org: '4c-ccap-apps'