name: gcc
flow:
  onboarding-getting-started:
    nextScreens:
      - name: onboarding-choose-provider
  onboarding-choose-provider:
    nextScreens:
      - name: pilot-offboard
        condition: NoProviderChosen
      - name: onboarding-confirm-provider
  pilot-offboard:
    nextScreens: null
  onboarding-confirm-provider:
    nextScreens:
      - name: onboarding-language-pref
  onboarding-language-pref:
    beforeDisplayAction: SetLanguagePreferences
    nextScreens:
      - name: parent-info-intro

  parent-info-intro:
    nextScreens:
      - name: parent-info-basic-1
  parent-info-basic-1:
    onPostAction: CreateParentBirthDate
    crossFieldValidationAction: ValidateParentBirth
    nextScreens:
      - name: parent-info-basic-2
  parent-info-basic-2:
    nextScreens:
      - name: parent-info-service
  parent-info-service:
    nextScreens:
      - name: parent-home-address
# I think these screens were removed from the Figma designs
#  parent-info-dv:
#    condition: SkipTemplate
#    nextScreens:
#      - name: parent-info-disability
#  parent-info-disability:
#    condition: SkipTemplate
#    nextScreens:
#      - name: parent-home-address
  parent-home-address:
    nextScreens:
      - name: parent-no-permanent-address
        condition: ParentIsExperiencingHomelessness
      - name: parent-mailing-address
  parent-no-permanent-address:
    nextScreens: null
  parent-mailing-address:
    nextScreens:
      - name: parent-confirm-address
  parent-confirm-address:
    beforeDisplayAction: SetEditAddressRedirect
    nextScreens:
      - name: parent-contact
  parent-contact:
    crossFieldValidationAction: ValidateParentContactProvideEmail
    nextScreens:
      - name: parent-info-review
  parent-info-review:
    beforeDisplayAction: FormatParentConfirmationAddress
    nextScreens:
      - name: parent-have-a-partner
  parent-have-a-partner:
    nextScreens:
      - name: parent-qualifying-partner
        condition: ParentHasPartner
      - name: parent-other-family
  parent-qualifying-partner:
    nextScreens:
      - name: parent-partner-info-basic
        condition: ParentPartnerQualifies
      - name: parent-other-family
  parent-partner-info-basic:
    crossFieldValidationAction: ValidateParentPartnerBirth
    nextScreens:
      - name: parent-partner-contact
  parent-partner-contact:
    nextScreens:
      - name: parent-partner-info-service
  parent-partner-info-service:
    nextScreens:
      - name: parent-partner-info-disability
  parent-partner-info-disability:
    nextScreens:
      - name: parent-other-family
  parent-other-family:
    nextScreens:
      - name: parent-add-adults
        condition: HasAdultDependents
      - name: children-info-intro
  parent-add-adults:
    nextScreens:
      - name: parent-intro-family-info
  parent-add-adults-detail:
    subflow: adultDependents
    crossFieldValidationAction: ValidateAdultDependentBirthdate
    nextScreens:
      - name: parent-add-adults
  parent-intro-family-info:
    nextScreens:
      - name: children-info-intro
  children-info-intro:
    nextScreens:
      - name: children-add
  children-add:
    nextScreens:
      - name: activities-parent-intro
  children-info-basic:
    crossFieldValidationAction: ValidateChildBirth
    subflow: children
    nextScreens:
      - name: children-ccap-info
        condition: NeedsFinancialAssistanceForChild
      - name: children-add
  children-ccap-info:
    subflow: children
    nextScreens:
      - name: children-ccap-in-care
  children-ccap-in-care:
    subflow: children
    nextScreens:
      - name: children-ccap-start-date
  children-ccap-start-date:
    subflow: children
    crossFieldValidationAction: ValidateChildrenCCAPStartDate
    nextScreens:
      - name: children-childcare-weekly-schedule
  children-childcare-weekly-schedule:
    subflow: children
    nextScreens:
      - name: children-childcare-hourly-schedule
  children-childcare-hourly-schedule:
    beforeDisplayAction: SetSubflowWeeklyScheduleGroup
    subflow: children
    nextScreens:
      - name: children-ccap-child-other-ed
  children-ccap-child-other-ed:
    condition: IsFiveOrOlder
    subflow: children
    nextScreens:
      - name: children-add
  activities-parent-intro:
    nextScreens:
      - name: activities-parent-type
  activities-parent-type:
    nextScreens:
      - name: activities-add-jobs
        condition: WorkingIsOneReasonForChildcareNeed
      - name: activities-add-ed-program
  activities-add-jobs:
    subflow: jobs
    nextScreens:
      - name: activities-add-ed-program
  activities-employer-name:
    subflow: jobs
    nextScreens:
      - name: activities-employer-address
  activities-employer-address:
    subflow: jobs
    nextScreens:
      - name: activities-self-employment
  activities-self-employment:
    subflow: jobs
    nextScreens:
      - name: activities-add-jobs
  activities-pay-by-hour:
    condition: SkipTemplate
    nextScreens:
      - name: activities-hourly-wage
  activities-hourly-wage:
    condition: SkipTemplate
    nextScreens:
      - name: activities-pay-period
  activities-pay-period:
    condition: SkipTemplate
    nextScreens:
      - name: activities-pay-rate
  activities-pay-rate:
    condition: SkipTemplate
    nextScreens:
      - name: activities-pay-last-month
  activities-pay-last-month:
    condition: SkipTemplate
    nextScreens:
      - name: activities-work-schedule-vary
  activities-work-schedule-vary:
    condition: SkipTemplate
    nextScreens:
      - name: activities-next-work-schedule
  activities-next-work-schedule:
    condition: SkipTemplate
    nextScreens:
      - name: activities-job-weekly-schedule
  activities-job-weekly-schedule:
    condition: SkipTemplate
    nextScreens:
      - name: activities-job-hourly-schedule
  activities-job-hourly-schedule:
    condition: SkipTemplate
    nextScreens:
      - name: activities-work-commute
  activities-work-commute:
    condition: SkipTemplate
    nextScreens:
      - name: activities-work-commute-time
  activities-work-commute-time:
    condition: SkipTemplate
    nextScreens:
      - name: activities-add-jobs-list
  activities-add-jobs-list:
    condition: SkipTemplate
    nextScreens:
      - name: activities-add-ed-program
  activities-add-ed-program:
    nextScreens:
      - name: activities-ed-program-type
  activities-ed-program-type:
    nextScreens:
      - name: activities-ed-program-name
  activities-ed-program-name:
    nextScreens:
      - name: activities-ed-program-info
  activities-ed-program-info:
    nextScreens:
      - name: activities-ed-program-method
  activities-ed-program-method:
    nextScreens:
      - name: activities-next-class-schedule
        condition: ClassesTaughtSchedule
      - name: activities-class-weekly-schedule
  activities-next-class-schedule:
    nextScreens:
      - name: activities-class-weekly-schedule
  activities-class-weekly-schedule:
    nextScreens:
      - name: activities-class-hourly-schedule
  activities-class-hourly-schedule:
    beforeDisplayAction: SetClassWeeklyScheduleGroup
    nextScreens:
      - name: activities-ed-program-dates
  activities-ed-program-dates:
    crossFieldValidationAction: ValidateMonthYearActivitiesProgram
    nextScreens:
      - name: activities-partner-add-job
        condition: ParentPartnerQualifies
      - name: unearned-income-intro
  activities-partner-add-job:
    condition: SkipTemplate
    nextScreens:
      - name: activities-partner-add-ed-program
  activities-partner-add-ed-program:
    nextScreens:
      - name: activities-partner-ed-program-type
  activities-partner-ed-program-type:
    nextScreens:
      - name: activities-partner-ed-program-name
  activities-partner-ed-program-name:
    nextScreens:
      - name: activities-partner-ed-program-info
  activities-partner-ed-program-info:
    nextScreens:
      - name: activities-partner-ed-program-method
  activities-partner-ed-program-method:
    nextScreens:
      - name: activities-partner-next-class-schedule
        condition: PartnersClassesAreTaughtOnSchedule
      - name: activities-partner-class-weekly-schedule
  activities-partner-next-class-schedule:
    nextScreens:
      - name: activities-partner-class-weekly-schedule
  activities-partner-class-weekly-schedule:
    nextScreens:
      - name: activities-partner-class-hourly-schedule
  activities-partner-class-hourly-schedule:
    beforeDisplayAction: SetPartnerClassWeeklyScheduleGroup
    nextScreens:
      - name: activities-partner-ed-program-dates
  activities-partner-ed-program-dates:
    crossFieldValidationAction: ValidateProgramDates
    nextScreens:
      - name: unearned-income-intro
  unearned-income-intro:
    nextScreens:
      - name: unearned-income-source
  unearned-income-source:
    crossFieldValidationAction: ValidateUnearnedIncomeSource
    nextScreens:
      - name: unearned-income-assets
        condition: UnearnedIncomeSourceIsNone
      - name: unearned-income-amount
  unearned-income-amount:
    nextScreens:
      - name: unearned-income-assets
  unearned-income-assets:
    nextScreens:
      - name: unearned-income-programs
  unearned-income-programs:
    nextScreens:
      - name: submit-intro

  submit-intro:
    condition: SkipTemplate
    nextScreens:
      - name: submit-ccap-terms
  submit-ccap-terms:
    condition: SkipTemplate
    nextScreens:
      - name: submit-sign-name
  submit-sign-name:
    condition: SkipTemplate
    nextScreens:
      - name: submit-complete
  submit-complete:
    condition: SkipTemplate
    nextScreens:
      - name: submit-next-steps
  submit-next-steps:
    condition: SkipTemplate
    nextScreens:
      - name: submit-confirmation
  submit-confirmation:
    condition: SkipTemplate
    nextScreens:
      - name: doc-upload-list
  doc-upload-list:
    condition: SkipTemplate
    nextScreens:
      - name: doc-upload-confirm
  doc-upload-confirm:
    condition: SkipTemplate
    nextScreens: null
  children-delete:
    nextScreens: null
  delete-person:
    nextScreens: null
  delete-job:
    nextScreens: null
  doc-upload-submit-confirmation:
    onPostAction: UploadSubmissionToS3
    nextScreens:
      - name: doc-upload-submit-confirmation
subflows:
  children:
    entryScreen: children-add
    iterationStartScreen: children-info-basic
    reviewScreen: children-add
    deleteConfirmationScreen: children-delete
  adultDependents:
    entryScreen: parent-add-adults
    iterationStartScreen: parent-add-adults-detail
    reviewScreen: parent-add-adults
    deleteConfirmationScreen: delete-person
  jobs:
    entryScreen: activities-add-jobs
    iterationStartScreen: activities-employer-name
    reviewScreen: activities-add-jobs
    deleteConfirmationScreen: delete-job
landmarks:
  firstScreen: onboarding-getting-started
