<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
  <appender name="LocalConsole" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%boldCyan(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %boldMagenta(%logger{36}) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
      <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
        <prettyPrint>false</prettyPrint>
      </jsonFormatter>
      <appendLineSeparator>true</appendLineSeparator>
      <timestampFormat>yyyy-MM-dd HH:mm:ss</timestampFormat>
    </layout>
  </appender>

  <springProfile name="dev | test">
    <root level="INFO">
      <appender-ref ref="LocalConsole"/>
    </root>
  </springProfile>
  
  <springProfile name="staging | qa | demo | production">
    <root level="INFO | WARN | ERROR">
      <appender-ref ref="JsonConsole"/>
    </root>
  </springProfile>

  <!-- Fallback when no profile is active -->
  <springProfile name="default">
    <root level="DEBUG">
      <appender-ref ref="LocalConsole"/>
    </root>

    <!-- Add a specific logger to highlight that the default profile is being used -->
    <logger name="org.springframework.boot.context.logging" level="DEBUG" additivity="false">
      <appender-ref ref="LocalConsole"/>
    </logger>

    <logger name="DEFAULT_PROFILE_LOG" level="DEBUG" additivity="false">
      <appender-ref ref="LocalConsole"/>
    </logger>
  </springProfile>
</configuration>