<th:block th:fragment="checkboxes">
  <th:block
      th:replace="~{'fragments/inputs/checkboxFieldset' ::
        checkboxFieldset(inputName=${inputName},
          label=${label},
          content=~{::checkboxContent})}">
    <th:block th:ref="checkboxContent">
      <th:block th:each="option : ${options}">
        <th:block
            th:replace="~{fragments/inputs/checkboxInSet ::
              checkboxInSet(inputName=${inputName},
                value=${option.getValue()},
                label=#{${option.getDisplayName()}})}"/>
      </th:block>
    </th:block>
  </th:block>
</th:block>