<th:block
        th:fragment="timeRange"
        th:with="
    hasHelpText=${!#strings.isEmpty(helpText)},
    dayLegendId=${startInputName + '-legend'},
    hasLabel=${!#strings.isEmpty(label)},
    hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
    requiredInputsForFlow=${requiredInputs.get(flow)},
    isRequiredInput=${(requiredInputsForFlow != null && inputName != null && requiredInputsForFlow.getOrDefault(inputName, false)) || (required != null && required)}"
        th:assert="${!#strings.isEmpty(startInputName)},${!#strings.isEmpty(endInputName)}, ${hasLabel || hasAriaLabel}">

    <fieldset class="form-group bottom-border" th:attr="aria-labelledby=${dayLegendId}">
        <legend class="heading-35 spacing-below-0" th:id="${dayLegendId}" th:inline="text">
            <span th:text="${label}"></span>
            <span th:if="${isRequiredInput && !hasAriaLabel}" class="required-input"
                  th:text="#{general.required-field}"></span>
        </legend>

        <fieldset th:with="startTimeLegendId=${startInputName + '-legend'}">
            <legend th:id="${startTimeLegendId}"
                   th:text="#{general.inputs.time.range.start}"
                   class="form-question"></legend>

            <th:block
                    th:replace="~{fragments/inputError :: validationError(inputName=${startInputName})}"></th:block>
            <th:block th:replace="~{fragments/inputs/timeSelect :: timeSelect(
                              inputGroupName=${startInputName},
                              ariaDescribedBy=${startTimeLegendId + ' ' + dayLegendId})}"></th:block>
        </fieldset>

        <fieldset th:with="endTimeLegendId=${endInputName + '-legend'}">
            <legend th:id="${endTimeLegendId}"
                   th:text="#{general.inputs.time.range.end}"
                   class="form-question"></legend>

            <th:block
                    th:replace="~{fragments/inputError :: validationError(inputName=${endInputName})}"></th:block>
            <th:block th:replace="~{fragments/inputs/timeSelect :: timeSelect(
                              inputGroupName=${endInputName},
                              ariaDescribedBy=${endTimeLegendId + ' ' + dayLegendId})}"></th:block>
        </fieldset>
    </fieldset>
</th:block>
