<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{'provider-responses-submit-start.title'})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block
                        th:with="providerSubmissionStatus=${T(org.ilgcc.app.utils.enums.ProviderSubmissionStatus).valueOf(param.status)}">
                    <th:block
                            th:replace="~{fragments/gcc-icons :: ${providerSubmissionStatus.getIcon()}}"></th:block>
                    <th:block
                            th:unless="${providerSubmissionStatus.equals(T(org.ilgcc.app.utils.enums.ProviderSubmissionStatus).EXPIRED)}">
                        <th:block
                                th:replace="~{fragments/cardHeader :: cardHeader(header=#{${providerSubmissionStatus.getHeaderLabel()}('providerPlaceholder')})}"/>
                    </th:block>
                    <th:block
                            th:if="${providerSubmissionStatus.equals(T(org.ilgcc.app.utils.enums.ProviderSubmissionStatus).EXPIRED)}">
                        <th:block
                                th:replace="~{fragments/cardHeader :: cardHeader(header=#{${providerSubmissionStatus.getHeaderLabel()}('providerPlaceholder')}, subtext=#{${providerSubmissionStatus.getSubtextLabel()}})}"/>
                    </th:block>
                    <div th:class="'notice spacing-below-60 '+ ${providerSubmissionStatus.equals(T(org.ilgcc.app.utils.enums.ProviderSubmissionStatus).EXPIRED) ? 'notice--error' : 'notice--gray'}"
                         th:text="#{${providerSubmissionStatus.getNoticeLabel()}}"></div>
                    <div class="form-card__footer">
                        <div>
                            <th:block
                                    th:if="${providerSubmissionStatus.equals(T(org.ilgcc.app.utils.enums.ProviderSubmissionStatus).ACTIVE)}">
                                <th:block
                                        th:replace="~{fragments/continueButton :: continue(text=#{${providerSubmissionStatus.getButtonLabel()}})}"/>
                            </th:block>
                            <th:block
                                    th:unless="${providerSubmissionStatus.equals(T(org.ilgcc.app.utils.enums.ProviderSubmissionStatus).ACTIVE)}">
                                <a th:href="'/faq'"
                                   th:text="#{${providerSubmissionStatus.getButtonLabel()}}"
                                   class="button button--primary"
                                   id="continue-link"></a>
                            </th:block>

                        </div>
                    </div>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
: