<header
        th:fragment="cardHeader"
        th:with="hasSubtext=${!#strings.isEmpty(subtext)},
            isRequiredInput=${(required != null && required)},
            noSpacingBelow=${(noSpacingBelow != null && noSpacingBelow)}"
        th:assert="${!#strings.isEmpty(header)}"
        th:class="'form-card__header' + ${noSpacingBelow ? ' spacing-below-0' : ''}">

    <h1 id="header" class="h2" >
        <span th:text="${header + ' '}"></span><span th:if="${isRequiredInput}" class="required-input" th:text="#{general.required-field}"></span>
    </h1>
    <p id="header-help-message"
       th:if="${hasSubtext}"
       th:utext="${subtext}"></p>
</header>