<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{error-invalid-code.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: code}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{error-invalid-code.header}, subtext=#{error-invalid-code.subtext})}"/>
                <div class="form-card__content">
                </div>
                <div class="form-card__footer">
                    <a
                        id="return-to-homepage"
                        href="/"
                        data-mixpanel="invalid-code-return-home"
                        th:text="#{error-invalid-code.button}"
                        class="button--primary button"></a>
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>