<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{index.title})}"></head>
<body class="template--index template--static-page">
<div class="page-wrapper">
  <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
  <main id="content" role="main" class="slab slab--white padding-top-0 spacing-below-0">
    <section class="slab slab--light-purple slab--hero">
      <div class="grid">
        <div class="notice--warning spacing-below-35">
          <p th:utext="'<span aria-hidden=true>🌱 </span>' + ${#messages.msg('index.notice-html-sda2')}"></p>
        </div>
        <div class="tracking-home-language-links width-one-half">
          <h1 class="spacing-below-35 spacing-above-5" th:text="#{index.title}"></h1>
          <p th:text="#{index.apply-for-benefits}"></p>
          <div class="spacing-above-35">
            <a
              th:href="|/flow/gcc/onboarding-getting-started?lang=${#locale.getLanguage()}|"
              th:text="#{index.apply-now} + ' →'"
              id="primary-apply-now"
              class="button--primary button"></a>
          </div>
          <div class="spacing-below-35">
            <a
              th:with="otherLang=${#locale.getLanguage().equals('es') ? 'en' : 'es'}"
              th:href="|/flow/gcc/onboarding-getting-started?lang=${otherLang}|"
              th:text="#{index.apply-now-other-language} + ' →'"
              th:lang="${otherLang}"
              id="secondary-apply-now"
              class="button--small button"></a>
          </div>
        </div>
        <img src="/assets/images/mother-reading-to-child.svg" alt="" class="width-one-half is-tablet-hidden">
      </div>
    </section>
    <section class="slab slab--white">
      <div class="grid">
        <div class="index-child-care-image-container width-one-fourth">
            <img src="/assets/images/seal-of-illinois.png" th:alt="#{general.illinois.state.seal.text}" loading="lazy" style="width: 141px; height: 141px;">
            <img src="/assets/images/IDHS-logo.png" th:alt="#{general.illinois.department.logo.text}" loading="lazy" style="width: 168px; height: auto">
        </div>

        <div class="width-two-thirds">
          <h2 th:text="#{index.child-care.title}"></h2>
          <p class="h2 normal" th:text="#{index.child-care.paragraph}"></p>
          <a
              target="_blank" rel="noopener noreferrer"
              href="https://www.inccrra.org/about/sdasearch">
            <span th:text="#{index.child-care.link}"></span>
            <i class="icon-">open_in_new</i>
          </a>
        </div>
      </div>
    </section>
    <section class="slab slab--light-purple">
      <div class="grid">
        <h2 th:text="#{general.eligibility-table.title}"></h2>
        <table class="eligibility-table">
          <thead>
          <tr>
            <th class="color--idhs-base-blue bold" scope="col" th:text="#{general.eligibility-table.column.header-1}"></th>
            <th class="color--idhs-base-blue bold" scope="col" th:text="#{general.eligibility-table.column.header-2}"></th>
          </tr>
          </thead>
          <tbody>
          <tr scope="row" th:each="i : ${#numbers.sequence(1, 5)}">
            <td th:text="#{'general.eligibility-table.row-' + ${i} + '.family'}"></td>
            <td th:text="#{'general.eligibility-table.row-' + ${i} + '.income'}"></td>
          </tr>
          </tbody>
        </table>
        <p th:text="#{index.eligibility.paragraph}"></p>
        <p th:utext="#{index.eligibility.calculator-paragraph}"></p>
      </div>
    </section>
    <section class="slab slab--white">
      <div class="grid">
        <div class="width-one-whole">
          <h2 th:text="#{index.gather-docs.title}"></h2>
        </div>
        <div class="width-one-half">
          <div class="width-one-half is-desktop-hidden">
            <img src="/assets/images/woman-with-paperwork.svg" loading="lazy" alt="" class="img-left">
          </div>
          <p class="paragraph-large normal" th:text="#{index.gather-docs.first-paragraph}"></p>
          <div class="index-icon-list spacing-below-15">
            <th:block th:replace="~{fragments/gcc-icons :: pay-stub}"></th:block>
            <p class="h2 normal spacing-above-0" th:text="#{index.gather-docs.icon-list.1}"></p>
          </div>
          <div class="index-icon-list spacing-below-15">
            <th:block th:replace="~{fragments/gcc-icons :: schedule-1099}"></th:block>
            <p class="h2 normal spacing-above-0" th:text="#{index.gather-docs.icon-list.2}"></p>
          </div>
          <div class="index-icon-list">
            <th:block th:replace="~{fragments/gcc-icons :: schedule-blob}"></th:block>
            <p class="h2 normal spacing-above-0" th:text="#{index.gather-docs.icon-list.3}"></p>
          </div>
        </div>
        <div class="width-one-half is-tablet-hidden">
          <img src="/assets/images/woman-with-paperwork.svg" loading="lazy" alt="" class="img-center">
        </div>
      </div>
    </section>
    <section class="slab slab--tan">
      <div class="grid">
        <div class="width-one-whole">
          <h2 th:text="#{index.are-you-a-child-care-provider.header}"></h2>
        </div>
        <div width="one-half">
          <p class="normal" th:text="#{index.are-you-a-child-care-provider.subheader}"></p>
        </div>
        <th:block th:replace="~{fragments/inputs/text ::
          text(inputName='',
          label=#{},
          helpText=#{},
          placeholder=#{})}" />
        <a
            th:with="otherLang=${#locale.getLanguage().equals('es') ? 'en' : 'es'}"
            th:href="|/flow/gcc/onboarding-getting-started?lang=${otherLang}|"
            th:text="#{index.apply-now-other-language} + ' →'"
            th:lang="${otherLang}"
            id="secondary-apply-now"
            class="button--small button"></a>
      </div>

    </section>
  </main>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
