<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{index.title})}"></head>
<body class="template--static-page">
<div class="page-wrapper">
  <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
  <main id="content" role="main" class="slab slab--light-purple padding-top-0 spacing-below-0">
    <section class="slab">
      <div class="notice--warning spacing-below-35">
        <p th:utext="'👋🏼 ' + #{index.notice-html}"></p>
      </div>
      <div class="grid">
        <div class="width-one-half">
          <h1 class="spacing-below-35 spacing-above-5" th:text="#{index.title}"></h1>
          <p th:text="#{index.apply-for-benefits-in-10}"></p>
          <div class="spacing-above-35">
            <a
              th:href="|/flow/gcc/onboarding-getting-started?lang=${#locale.getLanguage()}|"
              th:text="#{index.apply-now} + ' →'"
              class="button--primary button"></a>
          </div>
          <div class="spacing-below-35">
            <a
              th:with="otherLang=${#locale.getLanguage().equals('es') ? 'en' : 'es'}"
              th:href="|/flow/gcc/onboarding-getting-started?lang=${otherLang}|"
              th:text="#{index.apply-now-other-language} + ' →'"
              th:lang="${otherLang}"
              class="button--small button"></a>
          </div>
        </div>
        <div class="width-one-half">
          <!--TODO: make this image look better responsively-->
          <img src="/assets/images/mother-reading-to-child.svg" alt="" class="nudge--large">
        </div>
      </div>
    </section>
    <section class="slab slab--white">
      <!-- TODO: make sure the images are vertically aligned with each other, might need flex -->
      <div class="grid">
        <div class="grid__item width-one-half">
          <!-- TODO: figure out a good size -->
          <img src="/assets/images/seal-of-illinois.png" alt="" class="">
        </div>
        <div class="grid__item width-one-half">
          <img src="/assets/images/IDHS-logo.png" alt="" class="">
        </div>
      </div>
      <div class="grid">
        <h2 th:text="#{index.child-care.title}"></h2>
        <p th:text="#{index.child-care.paragraph}"></p>
        <!--TODO: add external symbol-->
        <a th:text="#{index.child-care.link}" target="_blank" rel="noopener noreferrer" href="https://www.inccrra.org/about/sdasearch"></a>
      </div>
    </section>
  </main>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
