<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{activities-partner-employer-name.title},
    header=#{activities-partner-employer-name.header},
    buttonLabel=#{general.button.continue},
    subtext=#{activities-partner-employer-name.subtext(${inputData.get('parentPartnerFirstName')})},
    formAction=${formAction},
    iconFragment=~{fragments/gcc-icons :: job},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <!-- Be sure to have `ariaLabel='header'` to label the input with the header -->
    <th:block th:replace="~{fragments/inputs/text ::
      text(inputName='partnerCompanyName',
      ariaLabel='header')}"/>
  </th:block>
</th:block>