<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{activities-class-hourly-schedule.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/inputs/headerNameUnderlined :: headerNameUnderlined(text=${fieldData.schoolName})}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{activities-class-hourly-schedule.header}, subtext=#{activities-class-hourly-schedule.description})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                              checkboxFieldset(inputName='classHoursSameEveryDay',
                              ariaLabel='header',
                              content=~{::checkboxOptions})}">
                <th:block th:ref="checkboxOptions">
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='classHoursSameEveryDay', value='Yes',  label=#{activities-class-hourly-schedule.class.hours.same.every.day})}" />
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='startTimeMonday', endInputName='endTimeMonday', label=#{general.inputs.days-of-week.monday})}" />
              <th:block th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='startTimeTuesday', endInputName='endTimeTuesday', label=#{general.inputs.days-of-week.tuesday})}" />
              <th:block th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='startTimeWednesday', endInputName='endTimeWednesday', label=#{general.inputs.days-of-week.wednesday})}" />
              <th:block th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='startTimeThursday', endInputName='endTimeThursday', label=#{general.inputs.days-of-week.thursday})}" />
              <th:block th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='startTimeFriday', endInputName='endTimeFriday', label=#{general.inputs.days-of-week.friday})}" />
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>