<th:block
    th:replace="~{fragments/screens/activities-class-hourly-schedule ::
      screen(
        header=#{activities-class-hourly-schedule.header},
        subtext=#{activities-class-hourly-schedule.subtext},
        programName=${fieldData.schoolName},
        sameHoursLabel=#{activities-class-hourly-schedule.hours-are-the-same},
        selectedDays=${fieldData['weeklySchedule[]']},
        inputName='activitiesClassHoursSameEveryDay',
        inputNamePrefix='activitiesClass'
      )}">
</th:block>