<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{activities-add-ed-program.header})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: mortarboard}"></th:block>
                <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{activities-add-ed-program.title}, subtext=#{activities-add-ed-program.subtext})}"/>
                <form th:action="@{/submitSchoolName}" method="post" class="form-card__content">
                    <label for="schoolName" th:text="#{activities-add-ed-program.schoolNameLabel}">School or Training Program Name</label>
                    <input type="text" id="schoolName" name="schoolName" required>
                    <th:block th:replace="~{fragments/continueButton :: continue}"/>
                </form>
                <div class="form-card__footer">
                    <!-- Footer content goes here, if any -->
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
