<th:block
        th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
          subflowScreenWithOneInput(
            title=#{activities-partner-job-weekly-schedule.title},
            header=#{activities-partner-job-weekly-schedule.header(${inputData.get('parentPartnerFirstName')})},
            subtext=#{activities-partner-job-weekly-schedule.subtext(${inputData.get('parentPartnerFirstName')})},
            headerName=${fieldData.partnerCompanyName},
            buttonLabel=#{'general.inputs.continue'},
            required='true',
            formAction=${formAction},
            inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:ref="formContent"
              th:with="dayOfWeekOptions=${T(org.ilgcc.app.utils.DayOfWeekOption).values()}">
      <div class="form-card__content">
        <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='activitiesJobWeeklySchedule',
                    ariaLabel='header',
                    options=${dayOfWeekOptions})}"/>
      </div>
    </th:block>
  </th:block>
</th:block>