<th:block
        th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
  subflowScreenWithOneInput(
    title=#{activities-job-weekly-schedule.title},
    header=#{activities-job-weekly-schedule.header},
    subtext=#{activities-job-weekly-schedule.subheader},
    headerName=${fieldData.companyName},
    buttonLabel=#{'general.inputs.continue'},
    required='true',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
        <th:block th:ref="formContent"
                  th:with="dayOfWeekOptions=${T(org.ilgcc.app.utils.DayOfWeekOption).values()}">
            <div class="form-card__content">
                <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='activitiesJobWeeklySchedule',
                    ariaLabel='header',
                    options=${dayOfWeekOptions})}"/>
            </div>
        </th:block>
    </th:block>
</th:block>