<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{activities-class-weekly-schedule.header})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/inputs/headerNameUnderlined :: headerNameUnderlined(text=${fieldData.schoolName})}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{activities-class-weekly-schedule.header}, subtext=#{activities-class-weekly-schedule.subtext})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                              checkboxFieldset(inputName='weeklySchedule',
                              ariaLabel='header',
                              content=~{::checkboxOptions})}">
                <th:block th:ref="checkboxOptions">
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='weeklySchedule', value='monday',  label=#{activities-class-weekly-schedule.monday})}" />
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='weeklySchedule', value='tuesday', label=#{activities-class-weekly-schedule.tuesday})}"/>
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='weeklySchedule', value='wednesday', label=#{activities-class-weekly-schedule.wednesday})}"/>
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='weeklySchedule', value='thursday', label=#{activities-class-weekly-schedule.thursday})}"/>
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='weeklySchedule', value='friday', label=#{activities-class-weekly-schedule.friday})}"/>
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='weeklySchedule', value='saturday', label=#{activities-class-weekly-schedule.saturday})}"/>
                  <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='weeklySchedule', value='sunday', label=#{activities-class-weekly-schedule.sunday})}"/>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
