<th:block
        th:with="submissionHasNoProvider=${T(org.ilgcc.app.utils.SubmissionUtilities).isNoProviderSubmission(submission.getInputData())}">
    <th:block
        th:unless="${!submissionHasNoProvider}">
        <th:block th:replace="~{fragments/screens/after-submit-contact-multiple-providers :: screen}"/>
    </th:block>
    <th:block th:if="${submissionHasNoProvider}">
        <th:block
            th:replace="~{fragments/screens/after-submit-no-provider :: screen}"/>
    </th:block>
</th:block>