<div th:with="childHasProvider=${fieldData.get('childInCare').equals('true')},
              hasProviderHeader=#{children-childcare-weekly-schedule.header-current(${fieldData.get('childFirstName')})},
              noCurrentProviderHeader=#{children-childcare-weekly-schedule.header-future(${fieldData.get('childFirstName')})}">

    <th:block th:replace="~{fragments/screens/screenWithOneInput ::
          screenWithOneInput(
            title=#{children-childcare-weekly-schedule.title},
            header=${childHasProvider ? hasProviderHeader : noCurrentProviderHeader},
            buttonLabel=#{general.button.continue},
            iconFragment=~{fragments/gcc-icons :: scheduleChildcare},
            required='true',
            formAction=${formAction},
            inputContent=~{::inputContent})}">
        <th:block th:ref="inputContent">
            <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
        checkboxFieldset(inputName='childcareWeeklySchedule',
        label='',
        ariaLabel='header',
        content=~{::requiredChildcareDays})}">
                <th:block th:ref="requiredChildcareDays">
                    <!-- Copy the below input if you want to add more -->
                    <th:block
                            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='Monday', label=#{general.week.Monday})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='Tuesday', label=#{general.week.Tuesday})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='Wednesday', label=#{general.week.Wednesday})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='Thursday', label=#{general.week.Thursday})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='Friday', label=#{general.week.Friday})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='Saturday', label=#{general.week.Saturday})}"/>
                    <th:block
                            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='Sunday', label=#{general.week.Sunday})}"/>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
</div>