
<th:block
  th:replace="~{fragments/screens/screenWithYesAndNoButtons ::
  screenWithYesAndNoButtons(
    title=#{children-info-assistance.title},
    header=#{children-info-assistance.financial-assistance-question(${fieldData.get('childFirstName')})},
    subtext=#{children-info-assistance.financial-assistance-help-text},
    iconFragment=~{fragments/gcc-icons :: child-head},
    inputName='needFinancialAssistanceForChild',
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
  </th:block>
</th:block>