<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{children-childcare-hourly-schedule.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: clock}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{children-childcare-hourly-schedule.header(${fieldData.get('childFirstName')})})}"/>

        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <div>
                <th:block th:replace="~{fragments/inputs/checkbox ::
                 checkbox(inputName='childcareHoursSameEveryDay',
                   label=#{children-childcare-hourly-schedule.same-every-day},
                   value='yes'
                 )}"/>
              </div>
              <div id="same-each-day">
                <th:block th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='childcareStartTimeAllDays', endInputName='childcareEndTimeAllDays', label=${fieldData.get('displayWeeklySchedule')})}" />
              </div>
              <div id="days-of-the-week">
                <th:block th:each="day: ${fieldData['childcareWeeklySchedule[]']}">
                  <th:block th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='childcareStartTime' + ${day}, endInputName='childcareEndTime' + ${day}, label=#{${'general.week.' + day}})}" />
                </th:block>
              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
<script th:inline="javascript">
  $(document).ready(function () {
    const $childcareHoursSameEveryDay = $('#childcareHoursSameEveryDay-yes')
    const $sameEveryDay = $('#same-each-day')
    const $individualDays = $('#days-of-the-week')

    if($childcareHoursSameEveryDay.is(':checked')){
      $individualDays.toggleClass('hidden')
    }else{
      $sameEveryDay.toggleClass('hidden')
    }

    $childcareHoursSameEveryDay.change(function () {
      toggleSameTimeEveryDay();
    })
    function toggleSameTimeEveryDay() {
        $sameEveryDay.toggleClass('hidden')
        $individualDays.toggleClass('hidden')
    }
  });
</script>
</body>
</html>