<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{children-add.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: children}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{children-add.header}, subtext=#{children-add.subtext})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:if="${inputData.containsKey('children') && inputData.get('children').size() > 0}">
                <div class="boxed-content text--centered">
                  <strong th:text="#{children-info-intro.title}"></strong>
                  <ul class="subflow-list list--bulleted">
                    <li th:each="child, iter: ${inputData.children}"
                        class="spacing-below-10">
                    <span class="space-between">
                      <span class="child-name" th:text="|${child.childFirstName} ${child.childLastName}|"/>
                      <span class="text--small spacing-below-0 spacing-right-25">
                        <a th:href="'/flow/' + ${flow} + '/children/' + ${child.uuid} + '/deleteConfirmation'"
                           th:text="#{general.delete}"
                           class="subflow-delete"
                           th:id="'delete-iteration-' + ${child.uuid}"></a>
                      </span>
                    </span>
                    </li>
                  </ul>
                </div>
              </th:block>
            </div>
            <div class="form-card__footer">
              <a th:href="'/flow/' + ${flow} + '/children-info-basic'"
                 class="button button--primary spacing-above-15">
                <i class="icon-add"></i>
                <span th:text="#{children-add.add-button}"></span>
              </a>
              <a th:if="${inputData.containsKey('children') && inputData.get('children').size() > 0}"
                 th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
                 th:text="#{children-add.thats-all}"
                 class="button spacing-left-0"
                 id="continue-link"></a>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
