<th:block
    th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{children-ccap-start-date.when-will-title},
    header=#{children-ccap-start-date.when-will-header(${fieldData.get('childFirstName')})},
    buttonLabel=#{general.button.continue},
    iconFragment=~{fragments/gcc-icons :: baby},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/date ::
    date(inputName='ccapStart',
    label='',
    ariaLabel='header',
    groupName='ccapStartDate')}"/>
  </th:block>
</th:block>


