<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{children-info-basic.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35"
        th:with="providerName=${T(org.ilgcc.app.utils.SubmissionUtilities).getProviderName(inputData)}">
        <th:block th:replace="~{fragments/gcc-icons :: child-head}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{children-info-basic.header})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='childFirstName',
                label=#{general.question.their-first-name})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='childLastName',
                label=#{general.question.their-last-name})}"/>
              <th:block th:replace="~{fragments/inputs/date ::
                date(inputName='childDateOfBirth',
                groupName='childDateOfBirth',
                label=#{general.question.their-date-of-birth},
                required='true')}"/>
              <th:block
                      th:replace="~{fragments/inputs/select :: select(label=#{children-ccap-info.relationship-question}, inputName='childRelationship', content=~{::childRelationship})}">
                <th:block th:ref="childRelationship">
                  <th:block
                          th:replace="~{fragments/inputs/selectOption :: selectOption(value='', optionText=#{general.relationship-option.default})}"/>

                  <th:block th:each="childRelationshipOption : ${T(org.ilgcc.app.utils.ChildRelationshipOption).values()}">
                    <th:block
                            th:replace="~{fragments/inputs/selectOption :: selectOption(value=${childRelationshipOption.pdfValue}, optionText=#{${childRelationshipOption.getLabel()}})}"/>
                  </th:block>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>