
<div th:with="childHasProvider=${fieldData.get('childInCare').equals('true')},
              hasProviderHeader=#{children-ccap-start-date.when-did-header(${fieldData.get('childFirstName')})},
              noCurrentProviderHeader=#{children-ccap-start-date.when-will-header(${fieldData.get('childFirstName')})}">
  <th:block
      th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{children-ccap-start-date.when-did.title},
    header=${childHasProvider ? hasProviderHeader : noCurrentProviderHeader},
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    iconFragment=~{fragments/gcc-icons :: baby},
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <input type="hidden" th:name="current_uuid" th:value="${fieldData.get('uuid')}">
      <th:block th:replace="~{fragments/inputs/date ::
    date(inputName='ccapStart',
    label=#{general.date.label},
    ariaLabel='header',
    groupName='ccapStartDate')}"/>
    </th:block>
  </th:block>
</div>



