<th:block
  th:replace="~{fragments/inputs/overrides/screenWithOneInput ::
  screenWithOneInput(
    title=#{children-childcare-weekly-schedule.title},
    header=#{children-childcare-weekly-schedule.header(${fieldData.get('childFirstName')})},
    buttonLabel='Continue',
    iconName='scheduleChildcare',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <!-- Be sure to have `ariaLabel='header'` to label the input with the header -->

    <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
        checkboxFieldset(inputName='childcareWeeklySchedule',
        label='',
        ariaLabel='header',
        content=~{::requiredChildcareDays})}">
          <th:block th:ref="requiredChildcareDays">
            <!-- Copy the below input if you want to add more -->
            <th:block
              th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='MONDAY', label=#{children-childcare-weekly-schedule.monday})}"/>
            <th:block
                th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='TUESDAY', label=#{children-childcare-weekly-schedule.tuesday})}"/>
            <th:block
                th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='WEDNESDAY', label=#{children-childcare-weekly-schedule.wednesday})}"/>
            <th:block
                th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='THURSDAY', label=#{children-childcare-weekly-schedule.thursday})}"/>
            <th:block
                th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='FRIDAY', label=#{children-childcare-weekly-schedule.friday})}"/>
            <th:block
                th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='SATURDAY', label=#{children-childcare-weekly-schedule.saturday})}"/>
            <th:block
                th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='childcareWeeklySchedule',value='SUNDAY', label=#{children-childcare-weekly-schedule.sunday})}"/>
          </th:block>
    </th:block>
  </th:block>
</th:block>