<th:block
        th:with="textPrefix=${@environment.getProperty('il-gcc.enable-multiple-providers') == 'true' ? 'children-info-intro-multiple' : 'children-info-intro-single'},
currentStep=${@environment.getProperty('il-gcc.enable-multiple-providers') == 'true' ? '3' : '2'}">
    <th:block
            th:replace="~{fragments/screens/family-application-intro-screen ::
      screen(
        textPrefix=${textPrefix},
        iconFragment=~{fragments/gcc-icons :: household-family},
        currentStep=${currentStep}
        )}">
    </th:block>
</th:block>
