<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{contact-provider-info.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: registeredProvider}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{contact-provider-info.header}, subtext=#{contact-provider-info.subtext})}"/>
                <div class="form-card__content">

                </div>
                <div class="form-card__footer">
                    <th:block th:replace="~{fragments/continueButton :: continue}"/>
                    <div><a href="/flow/gcc/submit-provider-agreement-handoff"
                            th:text="#{contact-provider-info.skip}"
                            id="print-application-in-person"></a></div>
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>