<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{contact-provider-message.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: providerEnvelope}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{contact-provider-message.header})}"/>
          <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::content})}">
            <th:block th:ref="content">
              <div class="form-card__content"
                th:with="shortCode=${submission.getShortCode()}">
                <p th:text="${#messages.msg('contact-provider-message.below-we-prepared', T(org.ilgcc.app.utils.ChildCareProvider).valueOf(inputData.get('dayCareChoice')).getDisplayName())}"></p>
                <p th:text="${#messages.msg('contact-provider-message.it-includes', shortCode)}"></p>
                <div class="notice--warning notice--gray confirmation-example">
                  <p th:text="${#messages.msg('contact-provider-message.message-p1', shortCode)}"></p>
                  <p th:text="${#messages.msg('contact-provider-message.message-p2', T(org.ilgcc.app.utils.SubmissionUtilities).getProviderResponseURLForHTML(submission, 'email'))}"></p>
                </div>
                <div class="center"
                    th:with="emailAddress=${T(org.ilgcc.app.utils.EmailUtilities).generateWellFormedEmail(inputData.get('familyIntendedProviderEmail'), #messages.msg('contact-provider-message.message-subject'), #messages.msg('contact-provider-message.message-body', T(org.ilgcc.app.utils.SubmissionUtilities).getProviderResponseURL(submission, 'email'), shortCode))}">
                  <a th:id="contact-provider-by-email" th:href="${emailAddress}" class="button button--wide">
                    <i class="icon-markunread"></i>
                    <span th:text="#{contact-provider-message.email-message}"></span>
                  </a>
                </div>
                <div class="center"
                    th:with="smsPhoneNumber=${T(org.ilgcc.app.utils.TextUtilities).generateTextMessage(inputData.get('familyIntendedProviderPhoneNumber'), #messages.msg('contact-provider-message.message-subject'), #messages.msg('contact-provider-message.message-body', T(org.ilgcc.app.utils.SubmissionUtilities).getProviderResponseURL(submission, 'text'), shortCode))}">
                  <a th:href="${smsPhoneNumber}"
                     class="button button--wide">
                    <i class="icon-insert_comment"></i>
                    <span th:text="#{contact-provider-message.text-message}"></span>
                  </a>
                </div>
              </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>
