<!--<!DOCTYPE html>-->
<!--<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{fragments/head :: head(title='TEMPLATE')}"></head>-->
<!--<body>-->
<!--<div class="page-wrapper">-->
<!--  <div th:replace="~{fragments/toolbar :: toolbar}"></div>-->
<!--  <section class="slab">-->
<!--    <div class="grid">-->
<!--      <div th:replace="~{fragments/goBack :: goBackLink}"></div>-->
<!--      <main id="content" role="main" class="form-card spacing-above-35">-->
<!--        <th:block th:with="providerName='PROVIDER FROM LOOP GOES HERE'">-->
<!--          <th:block th:replace="~{fragments/inputs/headerNameUnderlined :: headerNameUnderlined(text=${providerName})}"/>-->
<!--          <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{placeholder}, subtext=#{placeholder})}"/>-->
<!--          <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">-->
<!--            <th:block th:ref="formContent">-->
<!--              <div class="form-card__content">-->
<!--                  &lt;!&ndash; Put inputs here &ndash;&gt;-->
<!--              </div>-->
<!--              <div class="form-card__footer">-->
<!--                <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>-->
<!--              </div>-->
<!--            </th:block>-->
<!--          </th:block>-->
<!--        </th:block>-->
<!--      </main>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->
<!--<th:block th:replace="~{fragments/footer :: footer}"/>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{contact-providers-text.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:with="providerName='PROVIDER FROM LOOP GOES HERE'">
          <th:block th:replace="~{fragments/inputs/headerNameUnderlined :: headerNameUnderlined(text=${providerName})}"/>
          <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{contact-providers-text.header(${providerName})})}"/>
          <div class="form-card__content">
            <div>
              <p th:utext="#{contact-providers-text.body.p1}"></p>
              <p class="open-text-app-paragraph" th:utext="#{contact-providers-text.body.p2}"></p>
            </div>
            <div class="center"
                 th:with="shortCode=${submission.getShortCode()},
                          shareableLink=${submission.getInputData.getOrDefault('shareableLink', '')},
                          textMessageContent=${T(org.ilgcc.app.utils.TextUtilities).generateTextMessage(fieldData.get('familyIntendedProviderPhoneNumber'), #messages.msg('contact-providers-text.message', shareableLink, shortCode))}">

              <a target="_blank" th:id="contact-provider-by-text-confirmation" th:href="${textMessageContent}"
                 class="button button--wide">
                <i aria-hidden="true"  class="icon-insert_comment"></i>
                <span th:text="#{submit-contact-provider-text-confirmation.text-action}"></span>
              </a>
            </div>
          </div>
          <div class="form-card__footer">
            <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
          </div>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
