<th:block th:with="providerName='PROVIDER FROM LOOP GOES HERE'">
  <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{contact-providers-start.title},
      header=#{contact-providers-start.header(${providerName})},
      subtext=#{general.select-all-that-apply},
      headerName=${providerName},
      buttonLabel=#{'general.inputs.continue'},
      required='true',
      formAction=${formAction},
      inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block th:ref="formContent">
        <div class="form-card__content">
          <th:block th:replace="~{fragments/inputs/checkboxFieldset :: checkboxFieldset(inputName='contactProviderMethod', ariaLabel='header', content=~{::contactList})}">
            <th:block th:ref="contactList">
              <th:block th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='contactProviderMethod',value='EMAIL', label=#{contact-providers-start.email})}"/>
              <th:block th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='contactProviderMethod',value='TEXT', label=#{contact-providers-start.text})}"/>
              <th:block th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='contactProviderMethod',value='OTHER', label=#{contact-providers-start.other})}"/>
            </th:block>
          </th:block>
        </div>
      </th:block>
    </th:block>
  </th:block>
</th:block>