<th:block th:with="providerName='PROVIDER FROM LOOP GOES HERE'">
  <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{contact-providers-start.title},
      header='THIS IS A FAKE PAGE UNTIL WE HAVE REAL LOOPS',
      subtext='Delete this once we have loops!',
      headerName=${providerName},
      buttonLabel=#{'general.inputs.continue'},
      formAction=${formAction},
      inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block th:ref="formContent">
        <div class="form-card__content">
        </div>
      </th:block>
    </th:block>
  </th:block>
</th:block>