<th:block th:with="providerName=${relatedSubflowIteration.get('familyIntendedProviderName')}">
  <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{contact-providers-email-address.title},
      header=#{contact-providers-email-address.header(${providerName})},
      headerName=${providerName},
      buttonLabel=#{'general.inputs.continue'},
      required='true',
      formAction=${formAction},
      inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block th:ref="formContent">
        <div class="form-card__content">
          <p th:text="#{'contact-providers-email-address.subtext.p1'}"></p>
          <p th:text="#{'contact-providers-email-address.subtext.p2'}"></p>
          <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='familyIntendedProviderEmail',
                ariaLabel='header')}"/>
        </div>
      </th:block>
    </th:block>
  </th:block>
</th:block>