<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{contact-providers-review.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: documents-search}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{contact-providers-review.header})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
                <th:block th:each="provider, iter: ${inputData.get('contactProviders')}">
                  <th:block th:with="contactMethods=${provider['contactProviderMethod[]']},
                                    isEmail=${contactMethods.contains('EMAIL')},
                                    isText=${contactMethods.contains('TEXT')},
                                    isOther=${contactMethods.contains('OTHER')}">
                    <p class="headerElement h3" th:utext="${provider.familyIntendedProviderName}"></p>
                    <ul class="subflow-list list--bulleted spacing-below-60">
                      <th:block th:if="${isEmail && isText}">
                        <li th:utext="#{contact-providers-review.contact-email-text}"></li>
                        <li th:utext="${provider.familyIntendedProviderEmail}"></li>
                        <li th:utext="${provider.familyIntendedProviderPhoneNumber}"></li>
                      </th:block>
                      <th:block th:if="${isEmail && !isText}">
                        <li th:utext="#{contact-providers-review.contact-email}"></li>
                        <li th:utext="${provider.familyIntendedProviderEmail}"></li>
                      </th:block>
                      <th:block th:if="${!isEmail && isText}">
                        <li th:utext="#{contact-providers-review.contact-text}"></li>
                        <li th:utext="${provider.familyIntendedProviderPhoneNumber}"></li>
                      </th:block>
                      <th:block th:if="${isOther}">
                        <li th:utext="#{contact-providers-review.contact-other}"></li>
                      </th:block>
                    </ul>
                  </th:block>
                </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>