<th:block th:with="providerName='PROVIDER FROM LOOP GOES HERE'">
  <th:block th:replace="~{fragments/screens/child-care-provider-info ::
        screen(
          title=#{contact-providers-edit-phone-number.title},
          header=#{contact-providers-edit-phone-number.header},
          providerName=${providerName}
        )}">
  </th:block>
</th:block>

<script th:inline="javascript">
  $(document).ready(function () {
    $('#familyIntendedProviderName').prop('disabled', true);
    $('#familyIntendedProviderEmail').prop('disabled', true);
  });
</script>