<th:block th:with="providerName='PROVIDER FROM LOOP GOES HERE'">
  <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{contact-providers-phone-number.title},
      header=#{contact-providers-phone-number.header(${providerName})},
      headerName=${providerName},
      buttonLabel=#{'general.inputs.continue'},
      required='true',
      formAction=${formAction},
      inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block th:ref="formContent">
        <div class="form-card__content">
          <p th:text="#{'contact-providers-phone-number.subtext'}"></p>
          <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='familyIntendedProviderPhoneNumber',
                ariaLabel='header')}"/>
        </div>
      </th:block>
    </th:block>
  </th:block>
</th:block>