<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{doc-upload-recommended-docs.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{doc-upload-recommended-docs.header}, subtext=#{doc-upload-recommended-docs.subheader})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/gcc-icons :: incomeFamily}"></th:block>
              <p th:utext="#{doc-upload-recommended-docs.jobs.body}"></p>

              <th:block th:replace="~{fragments/gcc-icons :: income}"></th:block>
              <p th:utext="#{doc-upload-recommended-docs.self-employment.body}"></p>

              <th:block th:replace="~{fragments/gcc-icons :: education}"></th:block>
              <p th:utext="#{doc-upload-recommended-docs.school.body}"></p>

              <th:block th:replace="~{fragments/gcc-icons :: job}"></th:block>
              <p th:utext="#{doc-upload-recommended-docs.school.body}"></p>

              <th:block th:replace="~{fragments/gcc-icons :: homelessness}"></th:block>
              <p th:utext="#{doc-upload-recommended-docs.homelessness.body}"></p>
            </div>
            <div class="notice-grey">
              <p th:text="#{doc-upload-recommended-docs.jobs.allowed-documents}"></p>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/continueButton :: continue(text=#{doc-upload-recommended-docs.submit})}" />
              <div>
                <a th:href="'/flow/' + ${flow} + '/submit-next-steps'"
                   th:text="#{doc-upload-recommended-docs.skip}"
                   class='button'></a>
              </div>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>