<th:block
  th:replace="~{fragments/inputs/screenWithOneInputAndSkip ::
  screenWithOneInputAndSkip(
    title=#{onboarding-county.title},
    header=#{onboarding-county.header},
    required='true',
    iconFragment=~{fragments/gcc-icons :: location},
    buttonLabel=#{general.button.continue},
    skipLocation='onboarding-zipcode',
    skipText=#{onboarding-county.link},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block
      th:replace="~{fragments/inputs/select :: select(ariaLabel='header', inputName='applicationCounty', content=~{::countyInput})}">
      <th:block th:ref="countyInput">
        <th:block
                th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{onboarding-county.placeholder-text})}"/>
        <th:block th:each="county : ${T(org.ilgcc.app.utils.CountyOptionUtils).getActiveCounties()}">
          <th:block
                  th:replace="~{fragments/inputs/selectOption :: selectOption(value=${county.getCounty()}, optionText=${county.getCounty()})}"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>