<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{onboarding-choose-provider.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: care}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{onboarding-choose-provider.header})}"/>
        <div class="notice--warning spacing-below-60" th:text="#{onboarding-choose-provider.notice}"></div>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/radioFieldset ::
                            radioFieldset(inputName='dayCareChoice',
                            label=#{onboarding-choose-provider.which-daycare-center-question},
                            content=~{::radioContent})}">
                <th:block th:ref="radioContent">
                  <th:block th:each="providerOption : ${T(org.ilgcc.app.utils.ChildCareProvider).values()}">
                    <th:block
                        th:replace="~{fragments/inputs/radio :: radio(inputName='dayCareChoice', value=${providerOption}, label=${providerOption.getDisplayName()})}"/>
                  </th:block>

                  <th:block
                      th:replace="~{fragments/inputs/radio :: radio(inputName='dayCareChoice', value='none', label=#{onboarding-choose-provider.none})}"/>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>