<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{onboarding-provider-info-confirm.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: important-notice}"></th:block>
                <th:block
                        th:with="providerName=${inputData.getOrDefault('familyIntendedProviderName', '')}">

                    <th:block
                            th:replace="~{fragments/cardHeader :: cardHeader(header=#{onboarding-provider-info-confirm.header}, subtext=#{onboarding-provider-info-confirm.subheader})}"/>

                    <div class="notice--warning spacing-below-60" th:text="#{onboarding-provider-info-confirm.notice}"></div>

                    <div class="form-card__footer">
                        <th:block th:replace="~{fragments/continueButton :: continue}"/>
                    </div>
                </th:block>

            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>