<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{onboarding-provider-info.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: caring}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{onboarding-provider-info.header})}"/>
          <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{:: content})}">
            <th:block th:ref="content">
              <div class="form-card__content">
                <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='familyIntendedProviderName',
                  label=#{onboarding-provider-info.name},
                  helpText=#{onboarding-provider-info.name-help})}" />
                <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='familyIntendedProviderEmail',
                  label=#{onboarding-provider-info.email},
                  helpText=#{onboarding-provider-info.email-help})}" />
                <th:block th:replace="~{fragments/inputs/phone :: phone(
                  inputName='familyIntendedProviderPhoneNumber',
                  label=#{onboarding-provider-info.phone},
                  helpText=#{onboarding-provider-info.phone-help})}"/>
              </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>
