<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{parent-info-review.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: evaluatingInformation}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{parent-info-review.header})}"/>
          <div class="form-card__content">
            <p class="text--left"><strong th:text="#{parent-info-review.personal.information}"></strong></p>
            <ol class="list--bulleted">
              <li th:text="${inputData.get('parentFirstName') + ' ' + inputData.get('parentLastName')}"></li>
              <li th:text="${inputData.get('parentBirthMonth') + '/' + inputData.get('parentBirthDay') + '/' + inputData.get('parentBirthYear')}"></li>
            </ol>
            <a id="edit-parent-info-basic" th:href="'/flow/' + ${flow} + '/parent-info-basic-1'" th:text="#{parent-info-review.personal.information.link}"></a>
            <hr class="spacing-below-15 spacing-above-15">

            <p class="text--left"><strong th:text="#{parent-info-review.home.address}"></strong></p>
            <div th:unless="${T(org.ilgcc.app.utils.SubmissionUtilities).parentIsExperiencingHomelessness(fieldData)}">
              <th:block th:each="addressLine : ${inputData.get('homeAddressLines')}">
                <div th:text="${addressLine}"></div>
              </th:block>
              <br>
            </div>
            <div th:unless="${inputData.containsKey('homeAddressLines') and !inputData.get('homeAddressLines').isEmpty()}">
              <p th:text="#{general.none-added}"></p>
            </div>
            <a id="edit-home-address" th:href="'/flow/' + ${flow} + '/parent-home-address'" th:text="#{parent-info-review.home.address.link}"></a>
            <hr class="spacing-below-15 spacing-above-15">

            <p class="text--left"><strong th:text="#{parent-info-review.mailing.address}"></strong></p>
            <div th:if="${inputData.containsKey('addressLines') and !inputData.get('addressLines').isEmpty()}">
              <th:block th:each="addressLine : ${inputData.get('addressLines')}">
                <div th:text="${addressLine}"></div>
              </th:block>
              <br>
            </div>
            <div th:unless="${inputData.containsKey('addressLines') and !inputData.get('addressLines').isEmpty()}">
              <p th:text="#{general.none-added}"></p>
            </div>
            <a id="edit-mailing-address" th:href="'/flow/' + ${flow} + '/parent-mailing-address'" th:text="#{parent-info-review.mailing.address.link}"></a>
            <hr class="spacing-below-15 spacing-above-15">

            <p class="text--left"><strong th:text="#{parent-info-review.contact.info}"></strong></p>
            <ol class="list--bulleted">
              <li th:if="${!#strings.isEmpty(inputData.get('parentContactEmail'))}" th:text="${inputData.get('parentContactEmail')}"></li>
              <li th:if="${!#strings.isEmpty(inputData.get('parentContactPhoneNumber'))}" th:text="${inputData.get('parentContactPhoneNumber')}"></li>
            </ol>
            <div th:unless="${!#strings.isEmpty(inputData.get('parentContactEmail')) or !#strings.isEmpty(inputData.get('parentContactPhoneNumber'))}">
              <p th:text="#{general.none-added}"></p>
            </div>
            <a id="edit-parent-contact-info-basic" th:href="'/flow/' + ${flow} + '/parent-contact'" th:text="#{parent-info-review.contact.info.link}"></a>
          </div>
          <div class="form-card__footer">
            <th:block th:replace="~{fragments/continueButton :: continue}"/>
          </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
