<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{parent-mailing-address.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: mail}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{parent-mailing-address.header})}"/>

        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <div th:unless="${T(org.ilgcc.app.utils.SubmissionUtilities).parentIsExperiencingHomelessness(fieldData)}">
                <th:block th:replace="~{fragments/inputs/checkbox ::
                 checkbox(inputName='parentMailingAddressSameAsHomeAddress',
                   label=#{parent-mailing-address.same-as-home-address},
                   value='yes'
                 )}"/>
              </div>

              <div id="address-fields" th:insert="~{fragments/inputs/address ::
                                address(
                                  streetAddressLabel=#{general.street-address},
                                  streetAddress2Label=#{general.street-address-2},
                                  cityLabel=#{general.city},
                                  stateLabel=#{general.state},
                                  zipCodeLabel=#{general.zip-code},
                                  validate='true',
                                  inputName='parentMailing'
                                )}">

              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
<script th:inline="javascript">
  $(document).ready(function () {
    const $parentMailingAddressSameAsHomeCheckbox = $('#parentMailingAddressSameAsHomeAddress-yes')

    //Mailing Address input fields
    const $parentMailingStreetAddress1 = $('#parentMailingStreetAddress1')
    const $parentMailingStreetAddress2 = $('#parentMailingStreetAddress2')
    const $parentMailingCity = $('#parentMailingCity')
    const $parentMailingState = $('#parentMailingState')
    const $parentMailingZipCode = $('#parentMailingZipCode')

    //Get Home Address
    let inputData = [[${inputData}]];
    const $parentHomeStreetAddress1 = inputData['parentHomeStreetAddress1']
    const $parentHomeStreetAddress2 = inputData['parentHomeStreetAddress2']
    const $parentHomeCity = inputData['parentHomeCity']
    const $parentHomeState = inputData['parentHomeState']
    const $parentHomeZipCode = inputData['parentHomeZipCode']

    function toggleMailingAddress() {
      const $mailingAddressFields = $('#address-fields');
      console.log(inputData['parentFirstName']);
      $mailingAddressFields.toggleClass('hidden');
      if ($mailingAddressFields.is(':hidden')){
        copyMailingAddressFromHomeAddress(inputData);
      }
    }
    //On page load
    //We want to hide inputs if the
    if($parentMailingAddressSameAsHomeCheckbox.is(':checked')){
      toggleMailingAddress();
    }
    //On checkbox state change
    $parentMailingAddressSameAsHomeCheckbox.change(function (){
      toggleMailingAddress();
    });
    function copyMailingAddressFromHomeAddress (inputData) {
      //Get Home Address
      const $parentHomeStreetAddress1 = inputData['parentHomeStreetAddress1']
      const $parentHomeStreetAddress2 = inputData['parentHomeStreetAddress2']
      const $parentHomeCity = inputData['parentHomeCity']
      const $parentHomeState = inputData['parentHomeState']
      const $parentHomeZipCode = inputData['parentHomeZipCode']

      //verify Street Address1 is present in the home address, then copy the values to
      if ($.trim($parentHomeStreetAddress1) !== ''){
        $parentMailingStreetAddress1.val($parentHomeStreetAddress1);
        $parentMailingStreetAddress2.val($parentHomeStreetAddress2);
        $parentMailingCity.val($parentHomeCity);
        $parentMailingState.val($parentHomeState);
        $parentMailingZipCode.val($parentHomeZipCode);
      }
    }
  });
</script>
</body>
</html>