<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{parent-info-basic-1.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: adultFace}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{parent-info-basic-1.title})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent" th:with="
                      genderOptions=${T(org.ilgcc.app.utils.GenderOption).values()}">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='parentFirstName',
                label=#{parent-info-basic-1.first-name-question},
                helpText=#{parent-info-basic-1.legal.help},
                autoComplete='given-name')}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='parentLastName',
                label=#{parent-info-basic-1.last-name-question},
                helpText=#{parent-info-basic-1.legal.help},
                autoComplete='family-name')}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='parentPreferredName',
                label=#{parent-info-basic-1.preferred-name-question},
                helpText=#{parent-info-basic-1.preferred-name-question.help})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='parentOtherLegalName',
                label=#{parent-info-basic-1.other-legal-name-question},
                helpText=#{parent-info-basic-1.other-legal-name-question.help})}"/>
              <th:block th:replace="~{fragments/inputs/overrides/date ::
                date(inputName='parentBirth',
                groupName='parentBirthDate',
                autoCompleteMonth='bday-month',
                autoCompleteDay='bday-day',
                autoCompleteYear='bday-year',
                required='true',
                label=#{parent-info-basic-1.dob-question})}"/>
              <th:block
                  th:replace="~{fragments/inputs/ssn :: ssn(
                  inputName='parentSsn',
                  label=#{parent-info-basic-2.ssn-question},
                  helpText=#{parent-info-basic-2.ssn-helptext})}"/>
              <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='parentGender',
                    label=#{parent-info-basic-2.gender-question},
                    options=${genderOptions},
                    noneOfTheAboveLabel=#{general.inputs.prefer-not-to-answer})}"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
