<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{parent-partner-info-basic.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: person}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{parent-partner-info-basic.header})}"/>
                <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                    <th:block th:ref="formContent"
                              th:with="genderOptions=${T(org.ilgcc.app.utils.GenderOption).values()}">
                        <div class="form-card__content">
                            <th:block
                                    th:replace="~{fragments/inputs/text :: text(inputName='parentPartnerFirstName', helpText=#{parent-partner-info-basic.first.name.help}, label=#{general.question.their-first-name})}"/>
                            <th:block
                                    th:replace="~{fragments/inputs/text :: text(inputName='parentPartnerLastName', helpText=#{parent-partner-info-basic.last.name.help}, label=#{general.question.their-last-name})}"/>
                            <th:block
                                    th:replace="~{fragments/inputs/date :: date(inputName='parentPartnerBirth', groupName='parentPartnerBirth', label=#{general.question.their-date-of-birth}, required='true')}"/>
                            <th:block
                                    th:replace="~{fragments/inputs/ssn :: ssn(inputName='parentPartnerSSN', helpText=#{parent-partner-info-basic.ssn.help}, label=#{parent-partner-info-basic.ssn})}"/>
                        </div>
                        <div class="form-card__footer">
                            <th:block
                                    th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
                        </div>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
