<th:block
  th:replace="~{fragments/inputs/screenWithOneInputAndSkip ::
  screenWithOneInputAndSkip(
    title=#{parent-county.title},
    header=#{parent-county.header},
    subtext=#{parent-county.subtext},
    required='true',
    iconFragment=~{fragments/gcc-icons :: location},
    buttonLabel=#{general.button.continue},
    skipLocation='parent-zipcode',
    skipText=#{parent-county.link},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block
      th:replace="~{fragments/inputs/select :: select(ariaLabel='header', inputName='applicationCounty', content=~{::countyInput})}">
      <th:block th:ref="countyInput">
        <th:block
                th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{parent-county.placeholder-text})}"/>
        <th:block th:each="county : ${T(org.ilgcc.app.utils.CountyUtils).getActiveCounties()}">
          <th:block
                  th:replace="~{fragments/inputs/selectOption :: selectOption(value=${county}, optionText=${county})}"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>