<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{parent-add-adults-detail.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{parent-add-adults.add-member})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='adultDependentFirstName',
                label=#{general.question.their-first-name})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                text(inputName='adultDependentLastName',
                label=#{general.question.their-last-name})}"/>
              <th:block
                  th:replace="~{fragments/inputs/select :: select(label=#{parent-add-adults.ssn-question}, inputName='adultDependentRelationship', content=~{::adultDependentRelationship})}">
                <th:block th:ref="adultDependentRelationship">
                  <th:block
                      th:replace="~{fragments/inputs/selectOption :: selectOption(value='', optionText=#{general.relationship-option.default})}"/>
                  <th:block th:each="adultDependentRelationshipOption : ${T(org.ilgcc.app.utils.AdultDependentRelationshipOption).values()}">
                    <th:block
                        th:replace="~{fragments/inputs/selectOption :: selectOption(value=${adultDependentRelationshipOption.pdfValue}, optionText=#{${adultDependentRelationshipOption.getLabel()}})}"/>
                  </th:block>
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/date ::
                date(inputName='adultDependentBirthdate',
                groupName='adultDependentBirthdate',
                label=#{general.question.their-date-of-birth})}"/>
              <th:block
                  th:replace="~{fragments/inputs/ssn :: ssn(
                  inputName='adultDependentSSN',
                  label=#{parent-add-adults.ssn-question},
                  helpText=#{parent-add-adults.ssn-helper})}"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>