<th:block
        th:with="currentlyUnhoused=${T(org.ilgcc.app.utils.AddressUtilities).parentIsExperiencingHomelessness(submission.getInputData, 'parentHomeExperiencingHomelessness')}">
    <th:block
            th:replace="~{fragments/screens/enter-address ::
      screen(
        title='parent-mailing-address.title',
        header='parent-mailing-address.header',
        iconFragment=~{fragments/gcc-icons :: mail},
        currentlyUnhoused=${currentlyUnhoused},
        sameAsPreviousInputLabel='parent-mailing-address.same-as-home-address',
        validate='true',
        sameAsPreviousAddressInputName='parentMailingAddressSameAsHomeAddress',
        addressGroupInputPrefix='parentMailing'
      )}">
    </th:block>
</th:block>
<script th:inline="javascript">
  $(document).ready(function () {
    const $parentMailingAddressSameAsHomeCheckbox = $('#parentMailingAddressSameAsHomeAddress-yes')

    //Mailing Address input fields
    const $parentMailingStreetAddress1 = $('#parentMailingStreetAddress1')
    const $parentMailingStreetAddress2 = $('#parentMailingStreetAddress2')
    const $parentMailingCity = $('#parentMailingCity')
    const $parentMailingState = $('#parentMailingState')
    const $parentMailingZipCode = $('#parentMailingZipCode')

    //Get Home Address
    let inputData = [[${inputData}]];

    function toggleMailingAddress() {
      const $mailingAddressFields = $('#address-fields');
      $mailingAddressFields.toggleClass('hidden');
      if ($mailingAddressFields.is(':hidden')) {
        copyMailingAddressFromHomeAddress(inputData);
      }
    }

    //On page load
    //We want to hide inputs if the
    if ($parentMailingAddressSameAsHomeCheckbox.is(':checked')) {
      toggleMailingAddress();
    }
    //On checkbox state change
    $parentMailingAddressSameAsHomeCheckbox.change(function () {
      toggleMailingAddress();
    });

    function copyMailingAddressFromHomeAddress(inputData) {
      //Get Home Address
      const $parentHomeStreetAddress1 = inputData['parentHomeStreetAddress1']
      const $parentHomeStreetAddress2 = inputData['parentHomeStreetAddress2']
      const $parentHomeCity = inputData['parentHomeCity']
      const $parentHomeState = inputData['parentHomeState']
      const $parentHomeZipCode = inputData['parentHomeZipCode']

      //verify Street Address1 is present in the home address, then copy the values to
      if ($.trim($parentHomeStreetAddress1) !== '') {
        $parentMailingStreetAddress1.val($parentHomeStreetAddress1);
        $parentMailingStreetAddress2.val($parentHomeStreetAddress2);
        $parentMailingCity.val($parentHomeCity);
        $parentMailingState.val($parentHomeState);
        $parentMailingZipCode.val($parentHomeZipCode);
      }
    }
  });
</script>
</body>
</html>