<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{parent-contact.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: typing}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{parent-contact.header})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/phone :: phone(inputName='parentContactPhoneNumber', label=#{parent-contact.phone.number}, placeholder='(999) 999-9999', helpText=#{parent-contact.phone.number.description})}"/>
              <th:block th:replace="~{fragments/inputs/text :: text(inputName='parentContactEmail', label=#{parent-contact.email})}" />
              <th:block th:replace="~{fragments/inputs/radioFieldset ::
                            radioFieldset(inputName='parentContactPreferCommunicate',
                            label=#{parent-contact.prefer.communicate},
                            content=~{::radioContent})}">
                <th:block th:ref="radioContent">
                  <th:block th:replace="~{fragments/inputs/radio :: radio(inputName='parentContactPreferCommunicate', value='mail', label=#{parent-contact.prefer.communicate.mail})}"/>
                  <th:block th:replace="~{fragments/inputs/radio :: radio(inputName='parentContactPreferCommunicate', value='paperless', label=#{parent-contact.prefer.communicate.paperless})}"/>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>