<th:block
        th:replace="~{fragments/screens/enter-address ::
      screen(
        title='parent-home-address.title',
        header='parent-home-address.title',
        iconFragment=~{fragments/gcc-icons :: location},
        homelessInputName='parentHomeExperiencingHomelessness',
        validate='true',
        addressGroupInputPrefix='parentHome'
      )}">
</th:block>

<script th:inline="javascript">
  $(document).ready(function () {
    const $homelessnessCheckbox = $('#parentHomeExperiencingHomelessness-yes')

    function toggleFields() {
      const $addressFieldsContainer = $('#address-fields');
      $addressFieldsContainer.toggleClass('hidden');

      if ($addressFieldsContainer.hasClass('hidden')) {
        $('#address-fields :input').prop('disabled', true);
      } else {
        $('#address-fields :input').prop('disabled', false);
      }
    }

    // On page load
    if ($homelessnessCheckbox.is(':checked')) {
      toggleFields();
    }

    // On checkbox change
    $homelessnessCheckbox.change(function () {
      toggleFields();
    });
  });
</script>
</body>
</html>
