<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{providers-location.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: care}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{providers-location.header})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='familyIntendedProviderAddress',
                  label=#{providers-location.street-address},
                  helpText=#{providers-location.street-address.subtext})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='familyIntendedProviderCity',
                  label=#{providers-location.city})}"/>
              <th:block th:replace="~{fragments/inputs/state ::
                  state(inputName='familyIntendedProviderState',
                  label=#{providers-location.state})}"/>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>