<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{providers-add.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:with="providers=${inputData.get('providers')},
                            hasProviders=${providers.size() > 0},
                            maxProvidersAllowed=${inputData.get('maxProvidersAllowed')},
                            maxProvidersReached=${providers.size() == maxProvidersAllowed},
                            subtext=${hasProviders ? (maxProvidersReached ? #messages.msg('providers-add.subtext.max-providers-reached', maxProvidersAllowed) : #messages.msg('providers-add.subtext.has-providers', maxProvidersAllowed)) : #messages.msg('providers-add.subtext.no-providers-added')}">
          <th:block th:replace="~{fragments/gcc-icons :: care}"></th:block>
          <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{providers-add.header}, subtext=${subtext})}"/>
          <th:block
              th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
            <th:block th:ref="formContent">
              <div class="form-card__content">
                <th:block th:if="${hasProviders}">
                  <div class="boxed-content text--centered">
                    <th:block>
                        <div class="padding-left-25"><strong
                            th:text="#{providers-add.list.header}"></strong>
                        </div>
                        <ul class="subflow-list list--bulleted">
                          <li th:each="provider, iter: ${providers}"
                              class="spacing-below-10">
                            <ul>
                              <li th:class="spacing-below-0"
                                  th:utext="${provider.familyIntendedProviderName}"></li>
                              <li th:class="spacing-below-0"
                                  th:utext="${provider.familyIntendedProviderAddress}"></li>
                              <li th:class="spacing-below-0"
                                  th:utext="${provider.familyIntendedProviderPhoneNumber}"></li>
                              <li th:class="spacing-below-0"
                                  th:utext="${provider.familyIntendedProviderEmail}"></li>
                              <li class="text--small spacing-above-15 spacing-below-25 spacing-right-25">
                                <a th:href="'/flow/' + ${flow} + '/providers-info/' + ${provider.uuid} + '/edit'"
                                   th:text="#{general.edit}"
                                   class="subflow-delete padding-right-25"
                                   th:id="'edit-iteration-' + ${provider.uuid}"></a>
                                <a th:href="'/flow/' + ${flow} + '/providers/' + ${provider.uuid} + '/deleteConfirmation'"
                                   th:text="#{general.remove}"
                                   class="subflow-delete padding-left-25"
                                   th:id="'delete-iteration-' + ${provider.uuid}"></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                    </th:block>
                  </div>
                </th:block>
              </div>
              <div class="form-card__footer">
                <div class="spacing-below-15">
                  <a id="add-providers"
                     th:href="'/flow/' + ${flow} + '/providers-info'"
                     th:class="'button button--primary spacing-above-15' + ${maxProvidersReached ? ' disabled' : ''}">
                    <i class="icon-add"></i>
                    <span th:text="#{providers-add.button.add-a-provider}"></span>
                  </a>
                </div>
                <div th:if="${hasProviders}">
                  <a th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
                     th:text="#{providers-add.button.that-is-all}"
                     class="button spacing-left-0"
                     id="continue-link"></a>
                </div>
              </div>
            </th:block>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>