<th:block th:with="childName=${relatedSubflowIteration.get('childFirstName')},
                   provider=${T(org.ilgcc.app.utils.SubmissionUtilities).getCurrentProvider(inputData, repeatForIteration.get('repeatForValue').toString())},
                   providerName=${repeatForIteration.get('repeatForValue').equals('NO_PROVIDER') ? 'No Provider' : provider.get('familyIntendedProviderName')},
                   postfix=${'No Provider'.equals(providerName) ? 'no-provider' : T(org.ilgcc.app.utils.SubmissionUtilities).getSuffixForMessagesWhereChildIsInCare(repeatForIteration)},
                   messagePropertyString=${T(org.ilgcc.app.utils.SubmissionUtilities).generateMessageKey('schedules-hours.header', postfix)},
                   onlyOneDay=${repeatForIteration.get('childcareWeeklySchedule[]').size <= 1}">
  <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{schedules-hours.title},
      header=${'No Provider'.equals(providerName) ? #messages.msg('schedules-hours.header.no-provider', childName) : #messages.msg(messagePropertyString, providerName, childName)},
      headerName=${providerName},
      formAction=${formAction},
      buttonLabel=#{'general.inputs.continue'},
      inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block th:ref="formContent">
        <div class="form-card__content">
          <div th:if="${!onlyOneDay}">
            <th:block th:replace="~{fragments/inputs/checkbox ::
                 checkbox(inputName='childcareHoursSameEveryDay',
                   label=#{children-childcare-hourly-schedule.same-every-day},
                   value='yes'
                 )}"/>
          </div>
          <div id="same-each-day">
            <th:block
                th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='childcareStartTimeAllDays', endInputName='childcareEndTimeAllDays', required='true', label=${repeatForIteration.get('displayWeeklySchedule')})}"/>
          </div>
          <div id="days-of-the-week">
            <th:block th:each="day: ${repeatForIteration.get('childcareWeeklySchedule[]')}">
              <th:block
                  th:replace="~{fragments/inputs/timeRange :: timeRange(startInputName='childcareStartTime' + ${day}, endInputName='childcareEndTime' + ${day}, required='true', label=#{${'general.week.' + day}})}"/>
            </th:block>
          </div>
        </div>
      </th:block>
    </th:block>
  </th:block>
<script th:inline="javascript">
  $(document).ready(function () {
    const $childcareHoursSameEveryDay = $('#childcareHoursSameEveryDay-yes')
    const $sameEveryDay = $('#same-each-day')
    const $individualDays = $('#days-of-the-week')

    //on load
    if ($childcareHoursSameEveryDay.is(':checked')) {
      $individualDays.toggleClass('hidden')
    } else {
      $sameEveryDay.toggleClass('hidden')
    }
    disableFields()

    //on checkbox change
    $childcareHoursSameEveryDay.change(function () {
      toggleSameTimeEveryDay();
    })

    function toggleSameTimeEveryDay() {
      $sameEveryDay.toggleClass('hidden')
      $individualDays.toggleClass('hidden')
      disableFields()
    }

    function disableFields() {
      if ($sameEveryDay.hasClass('hidden')) {
        $('#same-each-day :input').prop('disabled', true);
        $('#days-of-the-week :input').prop('disabled', false);
      } else {
        $('#same-each-day :input').prop('disabled', false);
        $('#days-of-the-week :input').prop('disabled', true);
      }
    }
  });
</script>
</th:block>
