<th:block th:with="childName=${relatedSubflowIteration.get('childFirstName')},
                   provider=${T(org.ilgcc.app.utils.SubmissionUtilities).getCurrentProvider(inputData, repeatForIteration.get('repeatForValue').toString())},
                   providerName=${provider.get('familyIntendedProviderName')}">
    <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{schedules-start-care.title},
      header=#{schedules-start-care.header(${childName}, ${providerName})},
      headerName=${providerName},
      formAction=${formAction},
      noSubmitButton='true',
      inputContent=~{::inputContent})}">
        <th:block th:ref="inputContent">
            <th:block th:ref="formContent">
                <div class="form-card__content">
                    <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
            inputName='childInCare',
            ariaDescribe='header')}"/>
                </div>
            </th:block>
        </th:block>
    </th:block>
</th:block>