<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{schedules-review.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: documents-search}"></th:block>
                <th:block
                        th:with="childcareSchedules=${fieldData.get('childcareSchedules')},
                                 hasProvider=${submission.getInputData().containsKey('providers')},
                                 showNoProviderOption=${submission.getInputData().getOrDefault('choseProviderForEveryChildInNeedOfCare', '').equals('false')},
                                 hasMoreThanOneChildcareOption=${hasProvider && (submission.getInputData().get('providers').size() > 1 || showNoProviderOption)}">
                    <th:block
                            th:replace="~{fragments/cardHeader :: cardHeader(header= ${#messages.msg('schedules-review.header')}, subtext=${hasProvider ? #messages.msg('schedules-review.body') : #messages.msg('schedules-review.no-provider.body')})}"/>
                    <th:block
                            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                        <th:block th:ref="formContent">
                            <div class="form-card__content">

                                <th:block th:each="childcareIteration: ${childcareSchedules}">
                                    <th:block
                                            th:with="childDetails=${T(org.ilgcc.app.utils.SchedulePreparerUtility).relatedSubflowIterationData(submission.getInputData(), 'children', childcareIteration.get('childUuid'))}">
                                        <p class="text--left"><strong
                                                th:text="${childDetails.get('childFirstName') + ' ' + childDetails.get('childLastName')}"></strong>
                                        </p>
                                        <th:block th:if="${hasMoreThanOneChildcareOption}">
                                            <p class="text--small spacing-above-0">
                                                <a th:href="'/flow/gcc/schedules-start/' + ${childcareIteration.get('uuid')}"
                                                   th:text="#{schedules-review.edit-providers}"
                                                   th:id="'add-remove-providers-' + ${childcareIteration.get('uuid')}"
                                                   class="subflow-edit"></a>
                                            </p>
                                        </th:block>

                                        <ol class="list--bulleted">
                                            <li
                                                    th:each="providerSchedule: ${childcareIteration.get('providerSchedules')}"
                                                    class="spacing-below-15">

                                                <th:block th:with="
                                                        provider=${T(org.ilgcc.app.utils.SubmissionUtilities).getCurrentProvider(inputData, providerSchedule.get('repeatForValue').toString())},
                                                providerName=${providerSchedule.get('repeatForValue').equals('NO_PROVIDER') ? #messages.msg('schedules-review.no-provider') : provider.get('familyIntendedProviderName')}">
                                                    <span th:text="${providerName}"></span>
                                                </th:block>
                                                <br>
                                                <span th:text="${#messages.msg('schedules-review.start-date', providerSchedule.getOrDefault('ccapStartDate', 'n/a'))}"></span>
                                                <br>
                                                <span th:utext="${providerSchedule.getOrDefault('childCareScheduleLocalized', '[DAY, HOURS]')}"></span>

                                                <p class="text--small spacing-above-10">
                                                    <a th:href="'/flow/gcc/schedules-start-care/' + ${childcareIteration.get('uuid')} +'/' + ${providerSchedule.get('uuid')} + '/edit'"
                                                       th:text="#{schedules-review.edit-schedule}"
                                                       th:id="'edit-iteration-' + ${childcareIteration.get('uuid')}"
                                                       class="subflow-edit"></a>
                                                </p>
                                            </li>
                                        </ol>
                                    </th:block>
                                </th:block>
                                <th:block th:with="missingChildcareProviderNames=${T(org.ilgcc.app.utils.SubmissionUtilities).getNamesOfProvidersMissingChildcareSchedules(inputData)},
                                                   totalNumberOfProvidersMissingSchedules=${missingChildcareProviderNames.size()},
                                                   noProvidersHaveChildcareSchedules=${T(org.ilgcc.app.utils.SubmissionUtilities).areAllProvidersMissingChildcareSchedules(inputData)},
                                                   hasMoreThan4ChildrenWhoNeedCare=${T(org.ilgcc.app.utils.SubmissionUtilities).getChildrenNeedingAssistance(inputData).size() > 4}">
                                    <th:block th:if="${noProvidersHaveChildcareSchedules}">
                                        <div class="notice--warning" th:id="no-providers-entered-notice">
                                            <p th:text="#{schedules-review.notice.no-providers-with-schedules.p1}"></p>
                                            <p th:text="#{schedules-review.notice.no-providers-with-schedules.p2}"></p>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${!noProvidersHaveChildcareSchedules && totalNumberOfProvidersMissingSchedules > 0}">
                                        <th:block th:with="missingChildcareProviderNamesInReadableForm=${T(org.ilgcc.app.utils.ProviderSubmissionUtilities).formatListIntoReadableString(missingChildcareProviderNames, #messages.msg('general.and'))}">
                                            <div class="notice--warning" th:id="providers-are-missing-notice">
                                                <p th:utext="#{schedules-review.notice.providers-missing-schedules.p1(${missingChildcareProviderNamesInReadableForm})}"></p>
                                                <p th:text="#{schedules-review.notice.providers-missing-schedules.p2}"></p>
                                            </div>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${hasMoreThan4ChildrenWhoNeedCare}">
                                        <div class="notice--warning" th:id="more-than-4-children-needing-care-notice">
                                            <p th:text="#{schedules-review.notice.more-than-4-children-needing-care.p1}"></p>
                                            <p th:text="#{schedules-review.notice.more-than-4-children-needing-care.p2}"></p>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                            <div class="form-card__footer">
                                <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                      text=#{general.button.continue})}"/>
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>