<th:block th:with="childName=${relatedSubflowIteration.get('childFirstName')},
                   providerName='[PROVIDER_NAME]'">
  <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{schedules-start-date.title},
      header=#{schedules-start-date.header.already-started(${childName}, ${providerName})},
      headerName='[PROVIDER_NAME]',
      formAction=${formAction},
      buttonLabel=#{'general.inputs.continue'},
      inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block th:ref="formContent">
        <div class="form-card__content">
          <th:block th:replace="~{fragments/inputs/date ::
          date(inputName='ccapStart',
          label=#{general.date.label},
          ariaLabel='header',
          groupName='ccapStartDate')}"/>
        </div>
      </th:block>
    </th:block>
  </th:block>
</th:block>