<th:block
        th:with="hasProviders=${submission.getInputData().containsKey('providers')},
        textPrefix=${hasProviders && inputData.get('providers').size > 1 ? 'schedules-intro-multiple' : 'schedules-intro-single'}">
    <th:block
            th:replace="~{fragments/screens/family-application-intro-screen ::
      screen(
        textPrefix=${textPrefix},
        iconFragment=~{fragments/gcc-icons :: household-family},
        currentStep='5',
        stepCount='7'
        )}">
    </th:block>
</th:block>