<th:block th:with="childName=${relatedSubflowIteration.get('childFirstName')}">
  <th:block
      th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{schedules-start.title},
    header=#{schedules-start.header(${childName})},
    formAction=${formAction},
    buttonLabel=#{'general.inputs.continue'},
    iconFragment=~{fragments/gcc-icons :: care},
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
<!--       Be sure to have `ariaLabel='header'` to label the input with the header -->
      <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
      checkboxFieldset(inputName='currentProvider',
      label=#{schedules-start.select-provider(${childName})},
      helpText=#{general.select-all-that-apply},
      ariaLabel='header',
      content=~{::providerList})}">
        <th:block th:with="hasProviders=${submission.getInputData().containsKey('providers'),
                           hasMoreThanOneProvider=${hasProviders && submission.getInputData().get('providers').size() > 1},
                           providersList=${hasProviders ? submission.getInputData().get('providers') : }}">
          <th:block th:ref="providerList">
            <!-- Copy the below input if you want to add more -->
            <th:block th:each="provider : ${submission.getInputData().get('providers')}">
              <th:block
                  th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='',value='', label=#{})}"/>
            </th:block>
          </th:block>

        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>