<th:block th:with="childName=${relatedSubflowIteration.get('childFirstName')},
                   providerName=${repeatForIteration.getOrDefault('repeatForValue', '[PROVIDER NAME]').equals('NO_PROVIDER') ? #messages.msg('schedules-review.no-provider') : repeatForIteration.getOrDefault('repeatForValue', '[PROVIDER NAME]')}">
  <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{schedules-days.title},
      header=#{schedules-days.header.already-started(${providerName}, ${childName})},
      headerName=${providerName},
      formAction=${formAction},
      required='true',
      buttonLabel=#{'general.inputs.continue'},
      inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <th:block th:ref="formContent"
                th:with="dayOfWeekOptions=${T(org.ilgcc.app.utils.DayOfWeekOption).values()}">
        <div class="form-card__content">
          <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='childcareWeeklySchedule',
                    ariaLabel='header',
                    options=${dayOfWeekOptions})}"/>
        </div>
      </th:block>
    </th:block>
  </th:block>
</th:block>