<th:block th:with="childName=${relatedSubflowIteration.get('childFirstName')},
                   provider=${T(org.ilgcc.app.utils.SubmissionUtilities).getCurrentProvider(inputData, repeatForIteration.get('repeatForValue').toString())},
                   providerName=${repeatForIteration.get('repeatForValue').equals('NO_PROVIDER') ? 'No Provider' : provider.get('familyIntendedProviderName')},
                   postfix=${'No Provider'.equals(providerName) ? 'no-provider' : T(org.ilgcc.app.utils.SubmissionUtilities).getPostFix(repeatForIteration)},
                   messagePropertyString=${T(org.ilgcc.app.utils.SubmissionUtilities).generateMessageKey('schedules-days.header', postfix)}">
    <th:block th:replace="~{fragments/inputs/subflowScreenWithOneInput ::
    subflowScreenWithOneInput(
      title=#{schedules-days.title},
      header=${'No Provider'.equals(providerName) ? #messages.msg('schedules-days.header.no-provider', childName) : #messages.msg(messagePropertyString, childName, providerName)},
      headerName=${providerName},
      formAction=${formAction},
      required='true',
      buttonLabel=#{'general.inputs.continue'},
      inputContent=~{::inputContent})}">
        <th:block th:ref="inputContent">
            <th:block th:ref="formContent"
                      th:with="dayOfWeekOptions=${T(org.ilgcc.app.utils.DayOfWeekOption).values()}">
                <div class="form-card__content">
                    <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='childcareWeeklySchedule',
                    ariaLabel='header',
                    options=${dayOfWeekOptions})}"/>
                </div>
            </th:block>
        </th:block>
    </th:block>
</th:block>