<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{submit-intro.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <div class="text--centered">
                    <th:block th:replace="~{fragments/gcc-icons :: clipboardWithEnvelope}"></th:block>
                    <p class="text--grey-dark" th:id="submit-intro-step" th:text="${#messages.msg('submit-intro.step', (@environment.getProperty('il-gcc.dts.expand-existing-provider-flow') == 'true' ? '6' : '5'))}"></p>
                    <th:block
                            th:replace="~{fragments/cardHeader :: cardHeader(header=#{submit-intro.title})}"/>
                </div>
                <div class="form-card__content">
                    <div class="boxed-content">
                        <p class="text--centered"><strong th:text="#{submit-intro.box.header}"></strong></p>
                        <ol class="list--numbered">
                            <li th:text="#{submit-intro.box.one}"></li>
                            <li th:text="#{submit-intro.box.two}"></li>
                            <li th:text="#{submit-intro.box.three}"></li>
                        </ol>
                    </div>
                </div>
                <div class="form-card__footer text--centered">
                    <th:block th:replace="~{fragments/continueButton :: continue}"/>
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
