<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{submit-contact-method.title},
    header=#{submit-contact-method.header},
    iconFragment=~{fragments/gcc-icons :: mail-sent-success},
    required='true',
    buttonLabel=#{general.button.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
      <div class='notice spacing-below-60 notice--gray'>
          <p th:utext="#{submit-contact-method.notice}"></p>
      </div>
      <p class="spacing-below-0" th:text="#{general.select-all-that-apply}"></p>
    <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
      checkboxFieldset(inputName='contactProviderMethod',
      ariaLabel='header',
      content=~{::contactList})}">
        <th:block th:ref="contactList">
          <th:block
            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='contactProviderMethod',value='EMAIL', label=#{submit-contact-method.email})}"/>
            <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='contactProviderMethod',value='TEXT', label=#{submit-contact-method.text})}"/>
            <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='contactProviderMethod',value='OTHER', label=#{submit-contact-method.other})}"/>
        </th:block>
    </th:block>
  </th:block>
</th:block>