<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      th:with="showDocumentUploadInfo = ${T(org.ilgcc.app.utils.RecommendedDocumentsUtilities).shouldDisplayRecommendedDocumentScreens(submission)}">
<head th:replace="~{fragments/head :: head(title=#{submit-complete.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: greenCheck}"></th:block>
                <div th:if="${lockedSubmissionMessage}" class="notice--warning">
                    <p th:text="${lockedSubmissionMessage}"></p>
                </div>
                <div>
                    <header class="form-card__header spacing-below-0">
                        <h1 id="header-doc-upload" class="h2" th:utext="#{submit-complete.header}"></h1>
                    </header>
                    <div class="form-card__content notice notice--gray">
                        <div th:utext="#{submit-complete.info-box.pg-1}"></div>
                        <p th:utext="#{submit-complete.info-box.pg-2}"></p>
                    </div>
                    <div class="form-card__footer">
                        <th:block th:id="continue-link" th:replace="~{fragments/continueButton :: continue(text=#{submit-complete.yes-add-document-now})}" />
                        <th:block
                                th:with="hasChosenNoProvider=${submission.getInputData().getOrDefault('hasChosenProvider', 'true')}">
                            <th:block th:unless="${hasChosenNoProvider == 'true'}">
                                <a th:href="'/flow/' + ${flow} + '/no-provider-intro'"
                                   data-mixpanel="skip-link"
                                   class="button"
                                   th:text="#{submit-complete.button.do-this-later}"></a>
                            </th:block>
                            <th:block th:if="${hasChosenNoProvider == 'true'}">
                                <th:block>
                                    <a th:href="'/flow/' + ${flow} + '/contact-provider-intro'"
                                       data-mixpanel="skip-link"
                                       class="button"
                                       id="skip-to-contact-provider-intro-link"
                                       th:text="#{submit-complete.button.do-this-later}"                            ></a>
                                </th:block>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
