<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{submit-contact-provider-email-confirmation.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: mail-sent-success}"></th:block>
        <th:block th:replace="~{fragments/cardHeader :: cardHeader(header=#{submit-contact-provider-email-confirmation.header}, subtext=#{submit-contact-provider-email-confirmation.subheader})}"/>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <div class="notice-white"
                   th:with="submittedAt=${submission.getSubmittedAt()},
                            submittedAtDate=${T(org.ilgcc.app.utils.DateUtilities).convertDateToFullWordMonthPattern(submission.getInputData.get('formattedSubmittedAtDate'))},
                            submittedAtTime=${submission.getInputData.get('formattedSubmittedAtTime')}">
                <div class="email-header-example">
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.sent(${submittedAtDate}, ${submittedAtTime})}"></p>
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.from}"></p>
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.subject}"></p>
                </div>
                <hr>
                <div>
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.body.pt1}"></p>
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.body.pt2(${submission.getShortCode()})}"></p>
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.body.pt3(${submission.getInputData().getOrDefault('shareableLink', '')})}"></p>
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.body.pt4}"></p>
                  <p th:utext="#{submit-contact-provider-email-confirmation.email-preview.body.pt5}"></p>
                </div>
              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>