<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{submit-confirm-provider-email.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: application-search}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header=#{submit-confirm-provider-email.header})}"/>
                <div class="form-card__content">
                    <div class="grid__item address-validation spacing-below-60">
                        <label th:for="email-entered"
                               class="radio-button is-selected"
                               style="padding-left: 2.5rem; word-break: break-word;"
                               id="email-entered-label">
                            <p th:text="#{submit-confirm-provider-email.body}"></p>
                            <div th:text="${submission.getInputData().getOrDefault('familyIntendedProviderEmail', 'n/a')}"></div>
                        </label>

                    </div>
                </div>
                <div class="form-card__footer">
                    <a aria-describedby="header"
                       th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
                       class="button button--secondary" id="confirmed-provider-email">
                        <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span>
                        <span th:text="#{general.inputs.yes}"></span>
                    </a>
                    <a aria-describedby="header"
                       th:href="'/flow/' + ${flow} + '/submit-edit-provider-email'"
                       class="button button--secondary" id="edit-provider-email">
                        <span class="button__icon--left emoji emoji--inline emoji--crossmark"></span>
                        <span th:text="#{general.inputs.no}"></span>
                    </a>
                </div>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>