<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{submit-confirm-provider-number.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: application-search}"></th:block>
                <th:block
                    th:replace="~{fragments/cardHeader :: cardHeader(header=#{submit-confirm-provider-number.header})}"/>
                <th:block
                    th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                    <th:block th:ref="formContent">
                        <div class="grid__item address-validation spacing-below-60">
                            <div class="display-box-green " id="number-entered-box">
                                <p><strong th:text="#{submit-confirm-provider-number.subtext}"></strong>
                                </p>
                                <div th:text="${submission.getInputData().get('familyIntendedProviderPhoneNumber')}"></div>
                            </div>
                        </div>
                        <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
              inputName='hasConfirmedIntendedProviderPhoneNumber',
              ariaDescribe='header')}"/>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>