<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{submit-confirm-provider-email.title},
    header=#{submit-confirm-provider-email.header},
    iconFragment=~{fragments/gcc-icons :: application-search},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
      <label th:for="email-entered"
             class="radio-button is-selected"
             style="padding-left: 2.5rem; word-break: break-word;"
             id="email-entered-label">
          <p th:text="#{submit-confirm-provider-email.body}"></p>
          <div th:text="${submission.getInputData().get('familyIntendedProviderEmail')}"></div>
      </label>
      <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
        inputName='hasConfirmedIntendedProviderEmail',
        ariaDescribe='header'
       )}"/>
  </th:block>
</th:block>