<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{submit-contact-provider-text.title},
    header=#{submit-contact-provider-text.header},
    subtext=#{submit-contact-provider-text.subheader},
    iconFragment=~{fragments/gcc-icons :: text-bubble},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <!-- Be sure to have `ariaLabel='header'` to label the input with the header -->
    <th:block
      th:replace="~{fragments/inputs/phone :: phone(
      inputName='familyIntendedProviderPhoneNumber',
      arialabel='header')}"/>
  </th:block>
</th:block>