<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{submit-sign-name.title})}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/gcc-icons :: pencil}"></th:block>
                <th:block th:replace="~{fragments/cardHeader :: cardHeader(
                        header=#{submit-sign-name.title},
                        subtext=#{submit-sign-name.subtext})}"/>
                <th:block
                    th:replace="~{fragments/form :: form(action=|/flow/${flow}/${screen}/submit|, content=~{::formContent})}">                    <th:block th:ref="formContent">
                        <div class="form-card__content">
                            <th:block th:replace="~{fragments/inputs/text ::
                                text(inputName='signedName',
                                label=#{submit-sign-name.legal-name.label})}"/>
                            <th:block th:if="
                                ${inputData.containsKey('parentHasQualifyingPartner') &&
                                inputData.get('parentHasQualifyingPartner')}">
                                <th:block th:replace="~{fragments/inputs/text ::
                                    text(inputName='partnerSignedName',
                                    label=#{submit-sign-name.partner-legal-name.label})}"/>
                            </th:block>
                        </div>
                        <div class="form-card__footer">
                            <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                                text=#{submit-sign-name.submit-application})}"/>
                        </div>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
