<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{submit-contact-provider-email.title},
    header=#{submit-contact-provider-email.header},
    subtext=#{submit-contact-provider-email.body},
    iconFragment=~{fragments/gcc-icons :: mail-sent-success},
    formAction=${formAction},
    required='true',
    buttonLabel=#{general.button.continue},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/text ::
      text(inputName='familyIntendedProviderEmail',
      ariaLabel='header')}"/>
  </th:block>
</th:block>