<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{submit-ccap-terms.title},
    header=#{submit-ccap-terms.title},
    subtext=#{submit-ccap-terms.subtext},
    required='true',
    iconFragment=~{fragments/gcc-icons :: clipboardWithEnvelope},
    buttonLabel=#{general.inputs.continue},
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
      <div class="form-card__content">
          <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
                                buttonLabel=#{submit-ccap-terms.accordion-1.title},
                                content=~{::first})}">
              <th:block th:ref="first">
                  <th:block th:utext="#{submit-ccap-terms.accordion-1.description}"></th:block>
              </th:block>
          </th:block>
          <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
                                buttonLabel=#{submit-ccap-terms.accordion-2.title},
                                content=~{::second})}">
              <th:block th:ref="second">
                  <th:block th:utext="#{submit-ccap-terms.accordion-2.description}"></th:block>
              </th:block>
          </th:block>
          <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
                                buttonLabel=#{submit-ccap-terms.accordion-3.title},
                                content=~{::third})}">
              <th:block th:ref="third">
                  <th:block th:utext="#{submit-ccap-terms.accordion-3.description}"></th:block>
              </th:block>
          </th:block>
          <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
                                buttonLabel=#{submit-ccap-terms.accordion-4.title},
                                content=~{::fourth})}">
              <th:block th:ref="fourth">
                  <th:block th:utext="#{submit-ccap-terms.accordion-4.description}"></th:block>
              </th:block>
          </th:block>
          <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
                                buttonLabel=#{submit-ccap-terms.accordion-5.title},
                                content=~{::fifth})}">
              <th:block th:ref="fifth">
                  <th:block th:utext="#{submit-ccap-terms.accordion-5.description}"></th:block>
              </th:block>
          </th:block>
          <p class="text--help spacing-above-95"
             th:with="downloadUrl=|/download/${flow}/${submission.getId()}|"
             th:utext="#{submit-ccap-terms.help(${downloadUrl})}"></p>
          <th:block th:replace="~{fragments/inputs/checkboxMod ::
                                checkboxMod(inputName='agreesToLegalTerms',
                                label=#{submit-ccap-terms.checkbox.label},
                                value='true')}">
          </th:block>
      </div>
  </th:block>
</th:block>
