<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{submit-contact-provider-text-confirmation.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/gcc-icons :: text-bubble}"></th:block>
        <div class="open-text-app">
          <th:block
              th:replace="~{fragments/cardHeader :: cardHeader(header=#{submit-contact-provider-text-confirmation.header})}"/>
        </div>
        <div class="form-card__content">
          <div>
            <p th:utext="#{submit-contact-provider-text-confirmation.body.pt1}"></p>
            <p class="open-text-app-paragraph" th:utext="#{submit-contact-provider-text-confirmation.body.pt2}"></p>
          </div>
          <div class="center"
               th:with="textMessageContent=${T(org.ilgcc.app.utils.TextUtilities).generateTextMessage(inputData.get('familyIntendedProviderPhoneNumber'), #messages.msg('submit-contact-provider-text-confirmation.message', shortCode, shareableLink))}">
            <a target="_blank" th:id="contact-provider-by-text-confirmation" th:href="${textMessageContent}"
               class="button button--wide">
              <i aria-hidden="true"  class="icon-insert_comment"></i>
              <span th:text="#{submit-contact-provider-text-confirmation.text-action}"></span>
            </a>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block th:replace="~{fragments/continueButton :: continue}"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
