<div th:with="assistancePrograms=${T(org.ilgcc.app.utils.UnearnedIncomeOption).values()}">
  <th:block
      th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{unearned-income-programs.title},
    header=#{unearned-income-programs.header},
    subtext=#{unearned-income-programs.subheader},
    iconFragment=~{fragments/gcc-icons :: care-financial},
    formAction=${formAction},
    buttonLabel=#{general.button.continue},
    inputContent=~{::inputContent})}">
    <th:block th:ref="inputContent">
      <!-- Be sure to have `ariaLabel='header'` to label the input with the header -->
      <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='unearnedIncomePrograms',
                    label='',
                    ariaLabel='header',
                    options=${assistancePrograms},
                    noneOfTheAboveLabel=#{general.inputs.none-of-the-above})}"/>
    </th:block>
  </th:block>
</div>

