name: Deploy to Aptible Prod

on:
  workflow_dispatch:
    inputs: { }

jobs:
  deploy:
    name: Deploy to aptible-prod
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.APTIBLE_GIT_SSH_KEY }}
      - name: Deploy Using Aptible CLI
        run: |
          ssh-keyscan beta.aptible.com >> ~/.ssh/known_hosts
          wget -O aptible-package https://omnibus-aptible-toolbelt.s3.amazonaws.com/aptible/omnibus-aptible-toolbelt/master/206/pkg/aptible-toolbelt_0.16.5%2B20200508143656~ubuntu.16.04-1_amd64.deb
          sudo dpkg -i aptible-package
          aptible login \
            --email='${{ secrets.APTIBLE_USERNAME }}' \
            --password='${{ secrets.APTIBLE_PASSWORD }}'
          git push --force ${{ vars.PROD_APTIBLE_REMOTE_URL }} ${GITHUB_SHA}:${{ vars.PROD_APTIBLE_REMOTE_BRANCH }}
          aptible deploy \
            --app sn-md-pilot-prod \
            --git-commitish ${GITHUB_SHA} \
            'SPRING_DATASOURCE_URL=${{ secrets.PROD_SPRING_DATASOURCE_URL }}' \
            'SPRING_DATASOURCE_USERNAME=${{ secrets.PROD_SPRING_DATASOURCE_USERNAME }}' \
            'SPRING_DATASOURCE_PASSWORD=${{ secrets.PROD_SPRING_DATASOURCE_PASSWORD }}' \
            'SPRING_PROFILES_ACTIVE=production' \
            'AWS_ACCESS_KEY=${{ secrets.PROD_AWS_ACCESS_KEY }}' \
            'AWS_BUCKET=${{ vars.PROD_AWS_BUCKET }}' \
            'AWS_CMK=${{ secrets.PROD_AWS_CMK }}' \
            'AWS_SECRET_KEY=${{ secrets.PROD_AWS_SECRET_KEY }}' \
            'MAILGUN_KEY=${{ secrets.PROD_MAILGUN_KEY }}' \
            'MIXPANEL_API_KEY=${{ secrets.PROD_MIXPANEL_API_KEY }}' \
            'SENTRY_DSN=${{ secrets.SENTRY_DSN }}' \
            'SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}' \
            'SENTRY_ENVIRONMENT=production' \
            'SMARTY_AUTH_ID=${{ secrets.SMARTY_AUTH_ID }}' \
            'SMARTY_AUTH_TOKEN=${{ secrets.SMARTY_AUTH_TOKEN }}' \
            'DEFAULT_LOCALE=en' \
            'demo=false' \
            'FORCE_SSL=true'
      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: codeforamerica
          SENTRY_PROJECT: il-gcc
        with:
          environment: production
      - name: Announce on Slack when deployed
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
